<main>
  <input #fileInput type="file" class="state_hidden" name="Choose file" (change)="onFileChanged($event)"
         accept="text/csv">

  <div class="state_centered">
    <div class="section">
      <h1 class="heading">Please upload your Person Pool.</h1>

      <button md-raised-button color="accent" (click)="onUploadClicked()">
        Upload
      </button>
    </div>

    <div>
      <h1 class="heading">Test the application with an example Person Pool.</h1>

      <button md-raised-button color="accent" (click)="onUseExampleClicked()">
        Use Example Person Pool
      </button>
    </div>
  </div>
</main>
