<div class="flex-column flex-center full-size">
  <div class="dialog-box flex-column" (click)="dropdownVisible = false; $event.stopPropagation()">
    <div class="dialog-header flex-row flex-center flex-no-shrink">
      <div class="dialog-heading">Constraints for Person Highlighting</div>
    </div>

    <div *ngIf="personConstraintsCopy.length === 0" class="no-constraints-hint align-self-center">
      No Constraints Configured
    </div>

    <!-- constraint list -->
    <div class="flex-column" *ngFor="let personConstraint of personConstraintsCopy">
      <!-- constraint box -->
      <div class="flex-row flex-center person-constraint">
        <div
          *ngIf="InstructorRatingPersonConstraint.getTyped(personConstraint)"
          class="flex-row flex-center flex-spacing-x-5px">
          <div>Instructor Rating</div>
          <div class="comparator-container flex-row flex-center flex-justify-center">
            <div>≥</div>
          </div>

          <mat-select [(value)]="InstructorRatingPersonConstraint.getTyped(personConstraint).minimumRating">
            <mat-option [value]="SkillLevel.Low">{{ Skill.getLabelForSkillLevel(SkillLevel.Low) }}</mat-option>
            <mat-option [value]="SkillLevel.Medium">{{ Skill.getLabelForSkillLevel(SkillLevel.Medium) }}</mat-option>
            <mat-option [value]="SkillLevel.High">{{ Skill.getLabelForSkillLevel(SkillLevel.High) }}</mat-option>
            <mat-option [value]="SkillLevel.VeryHigh">{{
              Skill.getLabelForSkillLevel(SkillLevel.VeryHigh)
            }}</mat-option>
          </mat-select>
        </div>

        <div
          *ngIf="ExperiencePersonConstraint.getTyped(personConstraint)"
          class="flex-row flex-center flex-spacing-x-5px">
          <div>Experience in</div>
          <mat-select [(value)]="ExperiencePersonConstraint.getTyped(personConstraint).skillName">
            <mat-option *ngFor="let skillName of skillNames" [value]="skillName">{{ skillName }}</mat-option>
          </mat-select>
          <div class="comparator-container flex-row flex-center flex-justify-center">
            <div>≥</div>
          </div>
          <mat-select [(value)]="ExperiencePersonConstraint.getTyped(personConstraint).minimumExperience">
            <mat-option [value]="SkillLevel.Low">{{
              CSVConstants.Skills.SkillLevelAnswers[SkillLevel.Low]
            }}</mat-option>
            <mat-option [value]="SkillLevel.Medium">{{
              CSVConstants.Skills.SkillLevelAnswers[SkillLevel.Medium]
            }}</mat-option>
            <mat-option [value]="SkillLevel.High">{{
              CSVConstants.Skills.SkillLevelAnswers[SkillLevel.High]
            }}</mat-option>
            <mat-option [value]="SkillLevel.VeryHigh">{{
              CSVConstants.Skills.SkillLevelAnswers[SkillLevel.VeryHigh]
            }}</mat-option>
          </mat-select>
        </div>

        <div *ngIf="GenderPersonConstraint.getTyped(personConstraint)" class="flex-row flex-center flex-spacing-x-5px">
          <div>Gender</div>
          <div class="comparator-container flex-row flex-center flex-justify-center">
            <div>=</div>
          </div>
          <mat-select [(value)]="GenderPersonConstraint.getTyped(personConstraint).gender">
            <mat-option [value]="Gender.Female">Female</mat-option>
            <mat-option [value]="Gender.Male">Male</mat-option>
          </mat-select>
        </div>

        <div
          *ngIf="DevicePossessionPersonConstraint.getTyped(personConstraint)"
          class="flex-row flex-center flex-spacing-x-5px">
          <div>In Possession of</div>
          <mat-select [(value)]="DevicePossessionPersonConstraint.getTyped(personConstraint).device">
            <mat-option [value]="Device.Iphone">{{ Device[Device.Iphone] }}</mat-option>
            <mat-option [value]="Device.Ipad">{{ Device[Device.Ipad] }}</mat-option>
            <mat-option [value]="Device.IphoneAR">{{ Device[Device.IphoneAR] }}</mat-option>
            <mat-option [value]="Device.IpadAR">{{ Device[Device.IpadAR] }}</mat-option>
            <mat-option [value]="Device.Mac">{{ Device[Device.Mac] }}</mat-option>
            <mat-option [value]="Device.Watch">{{ Device[Device.Watch] }}</mat-option>
          </mat-select>
        </div>

        <div class="flex-grow"></div>
        <button
          class="align-self-center"
          md-icon-button
          (click)="removeConstraint(personConstraint); $event.stopPropagation()">
          <i class="material-icons">clear</i>
        </button>
      </div>

      <!-- constraint separator -->
      <div
        *ngIf="personConstraint !== personConstraintsCopy[personConstraintsCopy.length - 1]"
        class="constraint-separator">
        and
      </div>
    </div>

    <button
      class="add-button align-self-center"
      md-icon-button
      (click)="dropdownVisible = true; $event.stopPropagation()">
      <i class="material-icons">add_circle_outline</i>
      <div
        [class.add-constraint-dropdown-hidden]="!dropdownVisible"
        class="position-absolute add-constraint-dropdown flex-column">
        <div
          class="add-constraint-dropdown-element"
          (click)="addInstructorRatingConstraint(); dropdownVisible = false; $event.stopPropagation()">
          Instructor Rating
        </div>
        <div class="add-constraint-dropdown-seperator"></div>
        <div
          class="add-constraint-dropdown-element"
          (click)="addExperienceConstraint(); dropdownVisible = false; $event.stopPropagation()">
          Experience
        </div>
        <div class="add-constraint-dropdown-seperator"></div>
        <div
          class="add-constraint-dropdown-element"
          (click)="addGenderConstraint(); dropdownVisible = false; $event.stopPropagation()">
          Gender
        </div>
        <div class="add-constraint-dropdown-seperator"></div>
        <div
          class="add-constraint-dropdown-element"
          (click)="addDeviceConstraint(); dropdownVisible = false; $event.stopPropagation()">
          Device Possession
        </div>
      </div>
    </button>

    <div class="dialog-footer flex-row flex-center flex-no-shrink">
      <div class="flex-grow flex-column"></div>
      <button mat-raised-button color="primary" (click)="save()">Save</button>
    </div>
  </div>
</div>
