<div class="team-statistics-container flex-column">
  <div class="team-statistics-subheading">Priority Distribution</div>
  <app-team-priorities-chart [team]="team"></app-team-priorities-chart>
  <div class="team-statistics-subheading">Constraints</div>

  <div class="constraints-container flex-column">
    <div
      class="constraint-container flex-row flex-center flex-justify-center"
      *ngFor="let constraint of constraints"
      [class.constraint-container-satisfied]="constraint.isSatisfied(team)">
      <div class="flex-basis-zero flex-grow">
        <div *ngIf="constraint.getType() === ConstraintType.Interval">
          {{ constraint.getMinValue() }}
        </div>
      </div>
      <div class="comparator-container">
        <div
          *ngIf="constraint.getType() === ConstraintType.Interval"
          class="flex-row flex-center flex-justify-center comparator">
          <div>{{ constraint.getComparator() }}</div>
        </div>
      </div>

      <div class="flex-basis-zero flex-grow constraint-name-value">
        {{ constraint.getName() }} = {{ constraint.getCurrentValue(team) }}
      </div>

      <div class="comparator-container">
        <div class="flex-row flex-center flex-justify-center comparator">
          <div>{{ constraint.getComparator() }}</div>
        </div>
      </div>

      <div class="flex-basis-zero flex-grow">{{ constraint.getRightSideValue() }}</div>
    </div>
  </div>
</div>
