<div>
  <md-toolbar color="primary">
    {{person.firstName}} {{person.lastName}}
  </md-toolbar>
  <div id="scroll_container">
    <div class="row">
      <h3> Major </h3>
      <p>{{person.major}}</p>
    </div>
    <div class="row">
      <h3> Term </h3>
      <p>{{person.currentTerm}}</p>
    </div>
    <div class="row">
      <h3> E-Mail </h3>
      <p>{{person.email}}</p>
    </div>

    <hr>

    <div class="row">
      <h3> Devices </h3>
      <devices [devices]="person.devices"></devices>
    </div>

    <div class="row">
      <h3>  iOS-Experience </h3>
      <p>{{person.iosDevExp}}</p>
    </div>

    <div class="row">
      <h3> iOS-Experience description </h3>
      <p>{{person.iosDevExpDescription}}</p>
    </div>

    <hr>

    <h3>Priority List</h3>
    <priorities [teamPriorities]="person.teamPriorities"></priorities>
    <h3>Skill List</h3>
    <p *ngFor="let skill of person.skills">{{skill.toString()}}</p>
  </div>

  <md-toolbar color="primary">
    Rating
    <md-toolbar-row>
      <md-radio-group [(value)]="skillString" (change)="onChangeRating($event.value)">
        <md-radio-button value="{{PersonSkillLevel.VeryHigh}}">Expert</md-radio-button>
        <md-radio-button value="{{PersonSkillLevel.High}}">Advanced</md-radio-button>
        <md-radio-button value="{{PersonSkillLevel.Medium}}">Normal</md-radio-button>
        <md-radio-button value="{{PersonSkillLevel.Low}}">Novice</md-radio-button>
      </md-radio-group>
    </md-toolbar-row>
  </md-toolbar>
</div>


