<main *ngIf="person">
  <md-toolbar id="topBar" color="primary">
    {{person.firstName}} {{person.lastName}}
    <span class="app-toolbar-filler"></span>
    <img id="personPic" src="{{getGravatarIconPath()}}">
    <button class="popupButton" md-button (click)="onOpenInPopupClicked()" *ngIf="!isDialog">
      <md-icon color="accent" >fullscreen</md-icon>
    </button>
  </md-toolbar>
  <div id="scroll_container" [ngClass]="{'popupStyle': !isDialog }">
    <div class="gridLayout">
      <div class="row">
        <h3> Major </h3>
        <p>{{person.major}}</p>
      </div>
      <div class="row">
        <h3> Term </h3>
        <p>{{person.currentTerm}}</p>
      </div>
      <div class="row">
        <h3> E-Mail </h3>
        <p>{{person.email}}</p>
      </div>
      <div class="row">
        <h3> Tum-Id </h3>
        <p>{{person.tumId}}</p>
      </div>
    </div>

    <hr>

    <div class="gridLayout">
      <div class="row">
        <h3> German Language Level </h3>
        <p>{{person.germanLanguageLevel}}</p>
      </div>

      <div class="row">
        <h3> English Language Level </h3>
        <p>{{person.englishLanguageLevel}}</p>
      </div>
    </div>

    <hr>

    <div class="row">
      <h3> iOS-Experience </h3>
      <p>{{person.iosDevExp}}</p>
    </div>

    <div class="row">
      <h3> iOS-Experience description </h3>
      <p>{{person.iosDevExpDescription}}</p>
    </div>

    <hr>
    <div class="row">
      <h3>Project Priorities</h3>
      <priorities [teamPriorities]="person.teamPriorities" [markedPriorities]="[person.team]"></priorities>
    </div>
    <div class="row">
      <h3>Skills</h3>
      <skills [skills]="person.skills"></skills>
    </div>
    <div class="row">
      <h3> Devices </h3>
      <devices [devices]="person.devices" [alignCenter]="false"></devices>
    </div>

    <hr>

    <div class="row">
      <h3> Comments </h3>
      <p>{{person.generalComments}}</p>
    </div>
  </div>

  <md-toolbar color="primary" *ngIf="!isDialog">
    <md-radio-group [(value)]="skillString" (change)="onChangeRating($event.value)">
      <md-radio-button value="{{PersonSkillLevel.VeryHigh}}">Expert</md-radio-button>
      <md-radio-button value="{{PersonSkillLevel.High}}">Advanced</md-radio-button>
      <md-radio-button value="{{PersonSkillLevel.Medium}}">Normal</md-radio-button>
      <md-radio-button value="{{PersonSkillLevel.Low}}">Novice</md-radio-button>
    </md-radio-group>
    <md-toolbar-row>
      <span class="app-toolbar-filler"></span>

      <div id="unratedPersons">{{getRatedPersonCount()}}/{{getPersonCount()}}</div>
      <button md-raised-button [disabled]="isNextButtonDisabled" (click)="onNextPersonClicked()" color="accent">Next
        unrated person
      </button>
    </md-toolbar-row>
  </md-toolbar>
</main>


