#scroll_container {
  overflow-y: auto;
  max-height: 65vh;
  background-color: lightgray;
  padding-left: 10px;
  padding-right: 10px;
}

.row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 18px;
  margin-top: 18px;
  min-width: 70px;
}
.row h3 {
  padding: 0;
  margin: 0;
}

.row p {
  padding: 0;
  margin: 0;
}
.app-toolbar-filler {
  flex: 1 1 auto;
}

#unratedPersons{
  padding-right: 14px;
}

.gridLayout {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.img-circle {
}

#personPic {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.app-toolbar-filler {
  flex: 1 1 auto;
}



