<div class="bg-white mx-2 p-2 ps-3 mb-2 rounded-3">
  <!-- title and buttons -->
  <div class="d-flex justify-content-between">
    <!-- tab title -->
    <div class="d-flex justify-content-center align-items-center">
      <div
        role="button"
        class="fs-5 tab-title"
        (click)="selectViewMode(ViewMode.Students)"
        [ngClass]="viewMode === ViewMode.Students ? 'active' : ''">
        Students
      </div>
      <div class="seperator bg-dark mx-3 h-50"></div>
      <div
        role="button"
        class="fs-5 tab-title"
        (click)="selectViewMode(ViewMode.Statistics)"
        [ngClass]="viewMode === ViewMode.Statistics ? 'active' : ''">
        Statistics
      </div>
    </div>
    <div class="flex-grow-1"></div>
    <!-- Utility Actions -->
    <div class="d-flex gap-2">
      @if (viewMode === ViewMode.Statistics) {
        <div>
          <div class="form">
            <select class="form-select" id="ConstraintPropertySelect" [(ngModel)]="selectedStatistics">
              @for (selectDataGroup of statisticsSelectData | groupBy: 'group'; track selectDataGroup) {
                <optgroup [label]="selectDataGroup.key">
                  @for (selectData of selectDataGroup.value; track selectData) {
                    <option [value]="selectData.id">
                      {{ selectData.name }}
                    </option>
                  }
                </optgroup>
              }
            </select>
          </div>
        </div>
      }
      @if (viewMode === ViewMode.Students) {
        <div
          class="bg-card rounded-circle d-flex justify-content-center align-items-center lh-1 text-dark count-circle">
          {{ allocationData.studentsWithoutTeam.length }}
        </div>
      }
      <div>
        <div
          class="bg-card rounded-circle d-flex justify-content-center align-items-center lh-1 text-dark count-circle user-select-none"
          role="button"
          (click)="toggleUtilityContainer()">
          <fa-icon
            [icon]="facCloseIcon"
            class="lh-1 fs-4 utility-action"
            [ngClass]="utilityContainerVisible ? 'visible' : 'hidden'"></fa-icon>
        </div>
      </div>
    </div>
  </div>

  <div
    class="utility-container d-flex overflow-y-scroll mt-2"
    [ngClass]="utilityContainerVisible ? 'visible' : 'hidden'">
    @if (viewMode === ViewMode.Statistics) {
      <app-statistics
        class="d-flex flex-grow-1"
        [allocationData]="allocationData"
        [selectedDataId]="selectedStatistics"
        (selectDataChange)="statisticsSelectDataChange($event)"></app-statistics>
    }
    @if (viewMode === ViewMode.Students) {
      @for (students of [allocationData.studentsWithoutTeam]; track students) {
        <div dragula="STUDENTS" class="d-flex flex-wrap flex-grow-1 gap-1 h-25">
          @for (student of students; track student) {
            <app-student-preview-card [student]="student"></app-student-preview-card>
          }
        </div>
      }
    }
  </div>
</div>
