@import '../../../scss/style-constants';
@import '../../../scss/flex-box';
@import '../../../scss/utility';
@import '../person-detail-common';

.detail-card {
  width: 800px;
  background-color: white;
  border-radius: 5px;
  overflow: hidden;
}

@include horizontal-spacing(spacing-x-3, 3px);

.profile-picture {
  @extend .img-container-aspect-fill-width;
  border-bottom-right-radius: 23px;
  width: 278px;
  height: 200px;
}

.name-flex-column {
  flex-grow: 1;
  padding-left: 25px;
  padding-top: 25px;
  padding-right: 25px;
  justify-content: flex-start;
}

#name-flex-row {
  align-items: center;
}

.gender-icon {
  @extend .img-container-aspect-fill-height;
  height: 40px;
}

#person-name {
  flex-grow: 1;
  flex-shrink: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  /*font-weight: bolder;*/
  color: #333;
  font-size: 30px;
  margin-left: 20px;
  margin-right: 20px;
}

.badge {
  height: 26px;
  border-radius: 13px;
  font-size: 16px;
}

.supervisor-rating-badge {
  border-radius: 4px;
  padding: 3px 10px;
  font-size: 18px;
  color: white;
}

.flag-icon {
  @extend .img-container-aspect-fill-height;
  width: 26px;
  height: 26px;
  border-radius: 50%;
}

.language-level-badge {
  background-color: #EAEAEA;
  margin-right: 10px;
  padding-right: 10px;
}

.language-level-badge:last-child {
  margin-right: 0;
}

.padding-x-main {
  padding: 0 25px;
}

.skill-badge {
  color: white;
  font-weight: lighter;
  font-size: 14px;
  margin: 2px 3px;
}

.skill-badge-main {
  font-size: 20px;
}

.skill-row-container {
  margin: calc(-2px + 3px) -3px;
}

.skill-row-with-label {
  margin: 3px 0;
}

.skill-row-with-label-container {
  margin: -3px 0;
}

.skill-hint {
  white-space: nowrap;
  text-align: justify;
  align-self: center;
  font-style: italic;
  font-size: 14px;
  padding-left: 10px;
}

.person-language-name {
  color: black;
  font-size: 16px;
  padding-left: 5px;
}

.heading {
  color: #333;
  font-weight: bold;
  font-size: 12px;
  padding-bottom: 4px;
  margin-top: 15px;
}

.heading.top {
  margin-top: 0;
}

.person-value {
  color: black;
  font-size: 18px;
  font-weight: 300;
}

.person-value-container {
  margin-right: 20px;
}

.person-value-container:last-child {
  margin-right: 0;
}

.device-icon {
 @extend .img-container-aspect-fill-height;
  height: 30px;
  opacity: 0.6;
}

.quotation-mark {
  font-size: 20px;
  font-weight: bold;
  color: #555;
  position: relative;
  top: 5px;
}

.quotation-mark-start {
  align-self: flex-start;
}

.quotation-mark-end {
  align-self: flex-end;
}

.quote-text {
  color: black;
  font-size: 14px;
  font-weight: 300;
  text-align: center;
  position: relative;
  top: -5px;
}

.quote-author {
  font-weight: 300;
  color: #909090;
  font-size: 18px;
  font-style: italic;
  white-space: pre;
}

.team-badge-container {
  margin: -4px;
}

.team-badge {
  /* width should be the available space minus the margins and equally distributed */
  flex-basis: calc((100% - 6 * 2 * 4px) / 6);

  /* important to allow items in flex box to be smaller than its content */
  overflow: hidden;

  margin: 4px;
  height: 22px;
  border-radius: 11px;
  background-color: #f0f0f0;
  white-space: nowrap;
}

.team-badge-index {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  object-fit: cover;
  color: white;
  background-color: #999;
}

.badge-highlight .team-badge-index {
  color: white;
  background-color: #0076bc;
}

.team-badge-name {
  size: 18px;
  font-weight: 400;
  color: black;
}

.badge-highlight .team-badge-name {
  color: #0076bc;
}

.badge-highlight {
  background-color: #c4dcec;
}

.skill-container {
  border-radius: 11px;
  background-color: #fafafa;
  color: black;
  padding: 3px;
  border: $standard-border;
}

.generic-skills-container-box {
  margin: -5px;
  margin-top: 5px;
}

.skill-container-generic {
  margin: 5px;
  width: calc((100% - 9px * 6) / 3);
}

.skill-container > * {
  margin: 3px;
}

.skill-name {
  color: black;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
}

.flag-emoji {
  font-size: 20px;
}