.personCard {
  margin: 6px;
  padding: 6px;
  color: dimgray;
  font-size: small;
}

.profile-pic {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  min-width: 50px;
  min-height: 50px;
}

.person-information {
  padding-left: 10px;
  padding-top: 3px;
  width: 100%;
}

.name-container {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: bolder;
}

.gender-icon {
   width: 18px;
   height: 18px;
}

.flag-icon {
  width: 15px;
  margin-right: 5px;
}

.device-icon {
  width: 20px;
  height: 20px;
}

.skill-badge {
  color: white;
}

.badge {
  border-radius: 3px;
  padding: 2px 5px;
  margin-bottom: auto;
  margin-top: auto;
}

.language-level {
  background-color: #EAEAEA;
}

.flex-right {
  margin-left: auto;
}

.priorities-preview {
  display: flex;
  flex-direction: row;
  /*flex-wrap: wrap;*/
  position: relative;
  overflow: hidden;
}

.team-badge {
  background-color: #EAEAEA;
  border-radius: 3px;
  padding: 0 2px;
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  cursor: default;
  min-width: 35.83px;
  max-width: 35.83px;
  text-align: center;
}

.team-badge-highlight {
  background-color: #909090;
  color: white;
}

.team-badge-index {
  background-color: rgba(0, 0, 0, .1);
  position: absolute;
  left: 0;
  width: 15px;
  height: 100%;
  border-radius: 10px;
  text-align: center;
  vertical-align: middle;
  font-weight: bold;
}
