<md-card *ngIf="person" md-ripple [mdRippleColor]="rippleColor" [style.border-color]="getColor()" class="personCard" style="max-width: 276px; min-width: 276px">
  <!-- profile pic and everything right to it -->
  <div class="flex-row" style="margin-bottom: 8px;">
    <img class="profile-pic" src="{{getGravatarIconPath()}}">

    <div class="person-information">
      <!-- gender icon with name and optional skill level badge -->
      <div class="flex-row flex-center" style="margin-bottom: 4px;  max-width: 216px;">
        <span class="name-container flex-row flex-center">
          <img class="gender-icon flex-spacing-x-2px" src="{{getGenderIconPath()}}">
          <span class="flex-spacing-x-2px">{{person.firstName}} {{person.lastName}}</span>
        </span>
        <span *ngIf="isPersonRated()" class="badge flex-right skill-badge" [style.background-color]="getColor()">
          {{getLabelForSkillLevel(person.supervisorRating)}}
        </span>
      </div>

      <!-- devices and language level -->
      <div class="flex-row flex-center">
        <img class="device-icon flex-spacing-x-2px" *ngFor="let device of person.devices" src="{{getDeviceIconPath(device)}}">

        <span class="badge language-level flex-right">
          <img class="flag-icon" src="/assets/images/german.svg">
          {{person.germanLanguageLevel}}
        </span>
      </div>
    </div>
  </div>

  <!-- team priorities -->
  <div class="flex-column flex-center">
    <!-- teams 1 - 6 -->
    <span class="priorities-preview" style="margin-bottom: 4px;">{{team}}
        <span *ngFor="let team of person.teamPriorities.slice(0, 6); let i = index"
              class="team-badge flex-spacing-x-2px"
              [class.team-badge-highlight]="team === person.team"> <!-- && person.teamPriorities.indexOf(team) < 3 -->
          {{team.name}}
        </span>
    </span>

    <!-- teams 6 - 12 -->
    <span class="priorities-preview">{{team}}
        <span *ngFor="let team of person.teamPriorities.slice(6, 12); let i = index"
              class="team-badge flex-spacing-x-2px"
              [class.team-badge-highlight]="team === person.team"> <!-- && person.teamPriorities.indexOf(team) < 3 -->
          {{team.name}}
        </span>
    </span>
  </div>

</md-card>
