.personCard {
  margin: 6px;
  padding: 6px;
  color: dimgray;
  font-size: small;
}

.profile-pic {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.person-information {
  padding-left: 10px;
  padding-top: 3px;
  width: 100%;
}

.name-container {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: bolder;
}

.gender-icon {
   width: 10px;
   height: 10px;
}

.flag-icon {
  width: 15px;
  margin-right: 5px;
}

.device-icon {
  width: 20px;
  height: 20px;
}

.language-level {
  background-color: #F0F0F0;
  border-radius: 3px;
  padding: 2px 5px;
  margin-left: auto;
}

.priorities-preview {
  display: flex;
  flex-direction: row;
  position: relative;
  overflow: hidden;
}

/* this makes the badges "fade out" */
.priorities-preview:after {
  content: "";
  position: absolute;
  height: 100%;
  right: 0;
  width: 20%;
  background: linear-gradient(to right, transparent, white);
}

.team-badge {
  background-color: #EAEAEA;
  border-radius: 10px;
  padding-left: 18px;
  padding-right: 6px;
  position: relative;
  white-space: nowrap;
}

.team-badge-highlight-good {
  background-color: #6faf6b;
  color: white;
}

.team-badge-highlight-bad {
  background-color: #b56565;
  color: white;
}

.team-badge-index {
  background-color: rgba(0, 0, 0, .1);
  position: absolute;
  left: 0;
  width: 15px;
  height: 100%;
  border-radius: 10px;
  text-align: center;
  font-weight: bold;
}
