
<!-- team containers -->
<div class="dashboard flex-row">
  <div *ngFor="let team of teams" class="hidden-scrollbar-parent">
    <div class="hidden-scrollbar-child flex-column">
      <div class="scroll-spacer flex-no-shrink"></div>
      <team-container class="flex-no-shrink" [team]="team" (personClose)="onPersonDialogClosed()"></team-container>
      <div class="scroll-spacer flex-no-shrink"></div>
    </div>
  </div>
</div>


<!-- person drawer -->
<div class="position-fixed-fill flex-column pointer-events-none person-drawer-container">
  <div class="person-drawer flex-no-shrink flex-column pointer-events-auto">
    <div class="drawer-label">Drawer</div>
  </div>
</div>
