@if (team) {
  <div class="team-card rounded flex-column h-100" (click)="$event.stopPropagation()">
    <!-- team title -->
    <div class="flex-row flex-justify-content-space-between flex-center my-2">
      <div class="d-flex align-items-center">
        <div class="team-name mx-3">{{ team.name }}</div>
        <div class="team-person-count flex-row flex-center flex-justify-center">
          <div>{{ team.persons.length }}</div>
        </div>
      </div>
      <div class="mx-3">
        <button
          mat-raised-button
          [disabled]="team.persons.length === 0"
          color="primary"
          class="distribute-button flex-no-shrink"
          (click)="statisticsVisible = !statisticsVisible"
          [class.opacity-zero]="screenshotMode">
          <div class="flex-row flex-center distribute-button-row">
            <i class="material-icons">timeline</i>
          </div>
        </button>
      </div>
    </div>
    <!-- statistics -->
    @if (statisticsVisible && team.persons.length) {
      <app-team-statistics [team]="team"></app-team-statistics>
    }
    <!-- person preview cards -->
    <div class="position-relative h-100 overflow-y-scroll">
      @if (!team.persons.length) {
        <div class="pointer-events-none empty-team-hint-container flex-row">
          <div class="empty-team-hint flex-grow flex-row flex-center flex-justify-center">
            <div>Drag persons here</div>
          </div>
        </div>
      }
      @if (isDraggable) {
        <div [id]="team.name" dragula="persons" class="drag-container" [(dragulaModel)]="team.persons">
          <ng-container *ngTemplateOutlet="personPreview"></ng-container>
        </div>
      } @else {
        <ng-container *ngTemplateOutlet="personPreview"></ng-container>
      }
    </div>
  </div>
}

<ng-template #personPreview>
  @for (person of team.persons; track person) {
    @if (getStudentById(person.tumId)) {
      <app-student-preview-card
        [student]="getStudentById(person.tumId)"
        [projectId]="getProjectIdByName(team.name)"
        (click)="onPersonClicked.emit(person); $event.stopPropagation()"></app-student-preview-card>
    }
  }
</ng-template>
