<div class="constraint-container flex-row flex-center"
     [ngClass]="{'constraint-container-team-specific': constraint.getTeamName() !== SpecialTeamNameForGlobalConstraints,
                 'constraint-container-active': constraint.isEnabled }">
  <div class="flex-grow"></div>

  <!-- Interval Constraint -->
  <div *ngIf="constraint.getType() === ConstraintType.Interval" class="flex-row flex-center flex-spacing-10">
    <input mdInput class="number" placeholder="" name="constraintMinValue" [ngModel]="constraint.getMinValue()"
           (ngModelChange)="onConstraintMinValueChanged(constraint, $event)" [disabled]="!constraint.isEnabled"/>
    <div class="comparator-container flex-row flex-center flex-justify-center">
      <div>{{constraint.getComparator()}}</div>
    </div>
    <div class="name-container flex-row flex-justify-center"><div>{{constraint.getName()}}</div></div>
    <div class="comparator-container flex-row flex-center flex-justify-center">
      <div>{{constraint.getComparator()}}</div>
    </div>
    <input mdInput class="number" placeholder="" name="constraintMaxValue" [ngModel]="constraint.getMaxValue()"
           (ngModelChange)="onConstraintMaxValueChanged(constraint, $event)" [disabled]="!constraint.isEnabled"/>
  </div>

  <!-- Non Interval Constraint -->
  <div *ngIf="constraint.getType() !== ConstraintType.Interval" class="flex-row flex-center flex-spacing-10">
    <div class="non-interval-placeholder"></div>
    <div class="name-container flex-row flex-justify-center"><div>{{constraint.getName()}}</div></div>
    <div class="comparator-container flex-row flex-center flex-justify-center">
      <div>{{constraint.getComparator()}}</div>
    </div>
    <input *ngIf="[ConstraintType.LT,ConstraintType.LTE].indexOf(constraint.getType()) != -1" mdInput class="number"
           placeholder="" name="constraintValue" [ngModel]="constraint.getMaxValue()"
           (ngModelChange)="onConstraintMaxValueChanged(constraint, $event)" [disabled]="!constraint.isEnabled"
    />
    <input *ngIf="[ConstraintType.GT,ConstraintType.GTE].indexOf(constraint.getType()) != -1" mdInput class="number"
           placeholder="" name="constraintValue" [ngModel]="constraint.getMinValue()"
           (ngModelChange)="onConstraintMinValueChanged(constraint, $event)" [disabled]="!constraint.isEnabled"
    />
  </div>

  <div class="flex-grow"></div>
  <md-slide-toggle [(ngModel)]="constraint.isEnabled" color="primary"></md-slide-toggle>
</div>
