<div class="w-100 d-flex bg-dark justify-content-between p-3 align-items-center">
  <div class="d-flex align-items-center gap-3">
    <img src="/assets/images/logo-s.svg" />
    <div class="text-white fs-3 fw-light">TEASE</div>
  </div>

  <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
    @for (viewMode of viewModes; track viewMode) {
      <input
        type="radio"
        class="btn-check"
        name="btnradio"
        [id]="viewMode.mode"
        autocomplete="off"
        [checked]="viewMode.mode == selectedSkillViewMode"
        (click)="selectSkillViewMode(viewMode.mode)" />
      <label class="btn btn-outline-primary" [for]="viewMode.mode">
        <fa-icon [icon]="viewMode.icon"></fa-icon>
      </label>
    }
  </div>

  <div class="d-flex gap-2">
    <div>
      <button
        type="button"
        class="btn btn-icon"
        (click)="showSortConfirmation()"
        ngbTooltip="Sort Students"
        triggers="hover">
        <fa-icon [icon]="facSortIcon" class="fs-3 text-white"></fa-icon>
      </button>
      <button
        type="button"
        class="btn btn-icon"
        (click)="showConstraintBuilderOverlay()"
        ngbTooltip="Add Constraint"
        triggers="hover">
        <fa-icon [icon]="facConstraintIcon" class="fs-3 text-white"></fa-icon>
      </button>
    </div>
    <button type="button" class="btn btn-primary btn-icon-text" (click)="showConstraintSummaryOverlay()">
      <fa-icon [icon]="facGroupsIcon" class="pe-2 fs-3"></fa-icon>
      <div>Distribute Projects</div>
    </button>

    <div ngbDropdown class="d-inline-block">
      <button type="button" class="btn btn-icon" id="moreDropdown" ngbDropdownToggle>
        <fa-icon [icon]="facMoreIcon" class="fs-3 text-white"></fa-icon>
      </button>
      <div ngbDropdownMenu>
        @for (item of dropdownItems; track item) {
          <button ngbDropdownItem (click)="item.action()" class="btn-icon-text py-2" [ngClass]="item.class">
            <fa-icon [icon]="item.icon" class="pe-2 fs-3"></fa-icon>{{ item.label }}
          </button>
        }
      </div>
    </div>
  </div>
</div>
