<div class="d-flex justify-content-center align-items-center vh-100">
  <div class="w-75" style="height: 65vh">
    <div class="bg-white p-4 rounded-3 d-flex flex-column gap-4 h-100" (click)="$event.stopPropagation()">
      <h3 class="fw-semibold mb-1">Constraint Summary</h3>

      <div class="overflow-scroll">
        <table class="table table-bordered table-hover">
          <thead>
            <tr>
              @for (project of projects; track project) {
                <th class="project-header overflow-hidden user-select-none">
                  <div class="text-truncate" [ngbTooltip]="project.name" triggers="hover">
                    {{ project.name }}
                  </div>
                </th>
              }
              <th colspan="5">Constraint</th>
              <th>
                <div
                  class="user-select-none"
                  ngbTooltip="Amount of students that fullfill this constraint function"
                  triggers="hover">
                  #
                </div>
              </th>
              <th>
                <div
                  class="user-select-none"
                  ngbTooltip="Average amount of students that fullfill this constraint function per project"
                  triggers="hover">
                  Ø
                </div>
              </th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody class="">
            @for (constraintWrapper of constraintWrappers; track constraintWrapper) {
              <tr>
                @for (project of projects; track project) {
                  <td>
                    <div class="d-flex align-items-center justify-content-center">
                      <input
                        class="form-check-input active"
                        type="checkbox"
                        [checked]="constraintWrapper.projectIds.includes(project.id)"
                        (click)="$event.preventDefault()" />
                    </div>
                  </td>
                }

                <td class="text-nowrap border-end-0">{{ constraintWrapper.threshold.lowerBound }}</td>
                <td class="text-nowrap border-end-0 border-start-0">≤</td>
                <td class="text-nowrap border-end-0 border-start-0">
                  {{ constraintWrapper.constraintFunction.property }}
                  {{ constraintWrapper.constraintFunction.operator }}
                  {{ constraintWrapper.constraintFunction.value }}
                </td>
                <td class="text-nowrap border-end-0 border-start-0">≤</td>
                <td class="text-nowrap border-start-0">{{ constraintWrapper.threshold.upperBound }}</td>

                <td class="text-nowrap">{{ constraintWrapper.constraintFunction.students.length }}</td>
                <td class="text-nowrap">
                  {{
                    constraintWrapper.constraintFunction.students.length / constraintWrapper.projectIds.length
                      | number: '1.1-1'
                  }}
                </td>

                <td class="">
                  <button type="button" class="btn btn-icon-s" (click)="deleteConstraintWrapper(constraintWrapper)">
                    <fa-icon [icon]="facDeleteIcon" class="text-danger"></fa-icon>
                  </button>
                </td>
              </tr>
            }
          </tbody>
        </table>
      </div>
      <div class="flex-grow-1"></div>
      <div class="d-flex justify-content-end gap-2">
        <button type="button" class="btn btn-secondary" (click)="cancel()">Cancel</button>
        <div class="flex-grow-1"></div>

        <button type="button" class="btn btn-outline-primary" (click)="showConstraintBuilderOverlay()">
          <fa-icon [icon]="facConstraintIcon"></fa-icon>
          Add Constraint
        </button>
        <button type="button" class="btn btn-primary" (click)="distributeTeams()">
          <fa-icon [icon]="facGroupsIcon"></fa-icon>
          Distribute Teams
        </button>
      </div>
    </div>
  </div>
</div>
