<div class="flex-column statistics-container flex-no-shrink">
  <div class="statistics-title-label">Statistics</div>
  <div class="statistics-sublabel">Priority Distribution</div>
  <div class="statistics-horizontal-divider"></div>

  <!-- legend labels top -->
  <div class="flex-row flex-">
    <div class="statistics-legend-placeholder"></div>
    <div class="flex-row flex-grow">
      <div
        class="statistics-legend-label"
        *ngFor="let label of priorityDistributionLabels"
        [style.flex-grow]="label[1]">
        {{ label[0] }}
      </div>
    </div>
  </div>

  <!-- colored bars -->
  <div *ngFor="let team of teamService.teams" class="flex-row">
    <div class="statistics-team-label">{{ team.name }}</div>
    <div class="statistics-vertical-divider"></div>
    <div class="flex-row flex-grow">
      <div
        *ngFor="let i of teamIndices"
        class="priority-bar flex-row flex-center"
        [style.flex-grow]="priorityDistributionStatistics.get(team)[i]"
        [style.background-color]="getColorOfTeamDistributionBar(i)"
        [style.display]="priorityDistributionStatistics.get(team)[i] === 0 ? 'none' : null">
        <div class="statistics-priority-index-label">{{ i + 1 }}</div>
        <div class="statistics-bar-student-count">{{ priorityDistributionStatistics.get(team)[i] }} P.</div>
        <!--div class="priority-bar-text-overflow-cover" [style.background]="'linear-gradient(to right, rgba(0,0,0,0), ' + getColorOfTeamDistributionBar(i) + ')'"></div-->
      </div>
    </div>
  </div>

  <!-- legend labels bottom -->
  <div class="flex-row flex-">
    <div class="statistics-legend-placeholder"></div>
    <div class="flex-row flex-grow">
      <div
        class="statistics-legend-label"
        *ngFor="let label of priorityDistributionLabels"
        [style.flex-grow]="label[1]">
        {{ label[0] }}
      </div>
    </div>
  </div>

  <!-- general statistics -->
  <div class="statistics-sublabel">Overview</div>
  <div class="statistics-horizontal-divider"></div>
  <div class="flex-row">
    <div class="flex-row flex-grow flex-justify-center">
      <div class="flex-column statistics-table">
        <!-- header -->
        <div class="flex-row statistics-general-header">
          <div class="flex-neutral-grow"></div>
          <div class="flex-neutral-grow statistics-general-header">Total</div>
          <div class="flex-neutral-grow statistics-general-header">Proportion</div>
          <div class="flex-neutral-grow statistics-general-header">Per Team</div>
        </div>

        <!-- skill level stats -->
        <div
          *ngFor="let skillLevel of [SkillLevel.Low, SkillLevel.Medium, SkillLevel.High, SkillLevel.VeryHigh]"
          class="flex-row flex-center">
          <div class="flex-neutral-grow flex-row flex-center flex-no-shrink">
            <div class="statistics-skill-level-badge" [style.background-color]="Colors.getColor(skillLevel)">
              {{ Skill.getLabelForSkillLevel(skillLevel) }}
            </div>
          </div>
          <div class="flex-neutral-grow">{{ getNumberOfStudentsWithSupervisorRating(skillLevel) }}</div>
          <div class="flex-neutral-grow">
            {{ Math.round((getNumberOfStudentsWithSupervisorRating(skillLevel) * 1000) / getNumberOfStudents()) / 10 }}%
          </div>
          <div class="flex-neutral-grow">
            {{
              Math.round((getNumberOfStudentsWithSupervisorRating(skillLevel) * 100) / teamService.teams.length) / 100
            }}
          </div>
        </div>
      </div>
    </div>
    <div class="statistics-vertical-divider"></div>
    <div class="flex-row flex-grow flex-justify-center">
      <div class="flex-column statistics-table">
        <!-- header -->
        <div class="flex-row statistics-general-header">
          <div class="flex-neutral-grow"></div>
          <div class="flex-neutral-grow statistics-general-header">Total</div>
          <div class="flex-neutral-grow statistics-general-header">Proportion</div>
          <div class="flex-neutral-grow statistics-general-header">Per Team</div>
        </div>

        <!-- iOS Devices -->
        <div class="flex-row flex-center">
          <div class="flex-neutral-grow flex-no-shrink statistics-general-header">Students iDevice</div>
          <div class="flex-neutral-grow">
            {{ getTotalNumberOfStudentsWithIOSDevice() }}
          </div>
          <div class="flex-neutral-grow">
            {{ Math.round((getTotalNumberOfStudentsWithIOSDevice() * 1000) / getNumberOfStudents()) / 10 }}%
          </div>
          <div class="flex-neutral-grow">
            {{ Math.round((getTotalNumberOfStudentsWithIOSDevice() * 100) / teamService.teams.length) / 100 }}
          </div>
        </div>

        <!-- Mac Devices -->
        <div class="flex-row flex-center">
          <div class="flex-neutral-grow flex-no-shrink statistics-general-header">Students Mac</div>
          <div class="flex-neutral-grow">
            {{ getTotalNumberOfStudentsWithMacDevice() }}
          </div>
          <div class="flex-neutral-grow">
            {{ Math.round((getTotalNumberOfStudentsWithMacDevice() * 1000) / getNumberOfStudents()) / 10 }}%
          </div>
          <div class="flex-neutral-grow">
            {{ Math.round((getTotalNumberOfStudentsWithMacDevice() * 100) / teamService.teams.length) / 100 }}
          </div>
        </div>

        <!-- Female Students -->
        <div class="flex-row flex-center">
          <div class="flex-neutral-grow flex-no-shrink statistics-general-header">Female</div>
          <div class="flex-neutral-grow">
            {{ getNumberOfStudentsWithGender(Gender.Female) }}
          </div>
          <div class="flex-neutral-grow">
            {{ Math.round((getNumberOfStudentsWithGender(Gender.Female) * 1000) / getNumberOfStudents()) / 10 }}%
          </div>
          <div class="flex-neutral-grow">
            {{ Math.round((getNumberOfStudentsWithGender(Gender.Female) * 100) / teamService.teams.length) / 100 }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
