.team-statistics-container {
  background-color: #f1f1f1;
  border-radius: 10px;
  margin: 6px;
  padding: 10px;
}

/*
.team-statistics-heading {
  color: dimgray;
  font-size: 16px;
  font-weight: 300;
}
*/

.team-statistics-subheading {
  color: dimgray;
  font-size: 12px;
  font-weight: 500;
  margin-bottom: 5px;
}

.constraints-container {
  margin: -2px;
}

.constraint-container {
  margin: 2px;
  padding: 5px;
  height: 15px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  color: rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  text-align: center;
  font-size: 14px;
  background-color: #ffa795;
  transition: background-color 0.5s;
}

.constraint-container-satisfied {
  background-color: #a8f1a8;
}

.constraint-container * {
  font-weight: 500;
}

.comparator-container {
  height: 15px;
  width: 15px;
}

.comparator {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.5);
  font-size: 13px;
}

.constraint-name-value {
  flex-grow: 5;
}

app-team-priorities-chart {
  margin-bottom: 10px;
}
