<md-toolbar color="primary">
  {{person.firstName}} {{person.lastName}}
</md-toolbar>
<div id="dialog_container">
  <h3>Major: {{person.major}}</h3>
  <h3>Term: {{person.currentTerm}}</h3>
  <h3>ios Exp: {{person.iosDevExp}}</h3>
  <h3>email: {{person.email}}</h3>
  <h3>git: <br>{{person.gitExpDescription}}</h3>
  <p *ngFor="let device of person.devices">{{device.toString()}}</p>

  <h3>ios Exp:<br> {{person.iosDevExpDescription}}</h3>

  <h2>Priority List</h2>
  <p *ngFor="let priority of getTeamPriorities()">{{priority}}</p>
  <h2>Skill List</h2>
  <p *ngFor="let skill of person.skills">{{skill.toString()}}</p>

</div>



