#scroll_container {
  overflow-y: auto;
  max-height: 65vh;
}

.row {
  height: 75px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.row h3 {
  padding: 0;
  margin: 0;
}

.row p {
  padding: 0;
  margin: 0;
}
