#scroll_container {
  overflow-y: auto;
  max-height: 65vh;
}

.row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 18px;
  margin-top: 18px;
}
.row h3 {
  padding: 0;
  margin: 0;
}

.row p {
  padding: 0;
  margin: 0;
}
