/* You can add global styles to this file, and also import other style files */

body {
  margin: 0;
}

.pointer-events-auto {
  pointer-events: auto;
}

.pointer-events-none {
  pointer-events: none;
}

.position-fixed-fill {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
