<div class="flex-column flex-center full-size">
  <div class="dialog-box flex-column" (click)="$event.stopPropagation()">
    <div class="dialog-header flex-row flex-center flex-no-shrink">
      <div class="dialog-heading">{{ data.action }}</div>
    </div>
    <div class="warning flex-row">
      <div class="warning-element warning-heading">Warning!</div>
      <div class="warning-element">
        {{ data.actionDescription }}
      </div>
    </div>
    <div class="dialog-footer flex-row flex-center flex-no-shrink">
      <button md-raised-button color="primary" (click)="data.onCancelled()">Cancel</button>
      <div class="flex-grow"></div>
      <button md-raised-button color="warn" (click)="data.onConfirmed()">
        {{ data.action }}
      </button>
    </div>
  </div>
</div>
