<div
  *ngIf="person"
  class="person-card flex-column flex-no-shrink position-relative"
  [class.person-card-inactive]="!PersonConstraintService.matchesConstraints(person)">
  <div class="flex-column border-box">
    <!-- profile pic and everything right to it -->
    <div class="flex-row">
      <div class="profile-pic">
        <img src="{{ getGravatarIcon(this.person.email, 180) }}" />
      </div>

      <!-- column with personal information right to the profile picture -->
      <div class="person-information spacing-3-y">
        <!-- gender icon with name and optional skill level badge -->
        <div class="flex-row flex-center margin-bottom-3px">
          <div class="gender-icon flex-no-shrink">
            <img src="{{ getGenderIconPath(this.person.gender) }}" />
          </div>
          <div class="name">{{ person.firstName }} {{ person.lastName }}</div>
        </div>

        <!-- language, oop and ios level -->
        <div class="flex-row flex-center spacing-3-x">
          <div class="flex-row flex-center">
            <div class="badge-icon">
              <img src="/assets/images/german.png" />
            </div>
            <div class="badge-text">{{ person.germanLanguageLevel }}</div>
          </div>
          <div class="flex-row flex-center">
            <div
              class="badge-icon flex-row flex-center flex-justify-center"
              [style.background-color]="getColor(person.getiOSSkillLevel())">
              <div>{{ getFirstLetterOfSkillLevelName(person.getiOSSkillLevel()) }}</div>
            </div>
            <div class="badge-text">iOS</div>
          </div>
          <div class="flex-row flex-center">
            <div class="badge-text" style="font-size: 18px">{{ getFlagEmojiFromNationality(person.nationality) }}</div>
          </div>
        </div>

        <div class="flex-row flex-center spacing-3-x">
          <div class="device-icon" *ngFor="let device of person.devices" matTooltip="{{ Device[device] }}">
            <img src="{{ getDeviceTypeIconPath(device) }}" />
          </div>
        </div>
      </div>
    </div>

    <!-- team priorities -->
    <div class="flex-column padding-3">
      <div class="flex-row flex-wrap team-badge-container">
        <div
          *ngFor="let team of person.teamPriorities; let i = index"
          class="badge flex-row flex-center flex-justify-center team-badge"
          [class.badge-highlight]="team === person.team">
          <div>{{ team.name }}</div>
        </div>
      </div>
    </div>
  </div>

  <!-- instructor rating -->
  <div class="supervisor-rating flex-row flex-center" [style.background-color]="getColor(this.person.supervisorRating)">
    <div class="font-weight-300">{{ getSupervisorRatingString() }}</div>
  </div>

  <!-- floating pin button -->
  <div
    *ngIf="pinable"
    class="pin-button flex-row flex-justify-center flex-center"
    (click)="person.isPinned = !person.isPinned; teamService.saveToLocalBrowserStorage(); $event.stopPropagation()"
    [class.pin-button-active]="person.isPinned">
    <img *ngIf="!person.isPinned" class="pin-icon" src="/assets/images/pin-outline.png" />
    <img *ngIf="person.isPinned" class="pin-icon" src="/assets/images/pin-filled.png" />
  </div>
</div>
