@import '../../../scss/style-constants.scss';
@import '../../../scss/flex-box';
@import '../../../scss/utility';
@import '../../../styles';

@include horizontal-spacing(spacing-3-x, 3px);
@include vertical-spacing(spacing-3-y, 3px);

.person-card {
  margin: 5px;
  color: black;
  font-size: 13px;
  background-color: #fafafa;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  border-radius: 3px;
  overflow: hidden;
  cursor: pointer;
  width: 288px;
}

.person-card-inactive {
  filter: grayscale(100%);
}

.border-box {
  border: $standard-border;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom: none;
}

.person-card:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  position: relative;
}

.padding-3 {
  padding: 3px;
}

.profile-pic {
  @extend .img-container-aspect-fill-width;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 3px;
  width: 90px;
  height: 65px;
}

.person-information {
  padding-left: 5px;
  padding-top: 5px;
  overflow: hidden;
}

.name {
  font-weight: 400;
  font-size: 17px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.gender-icon {
  @extend .img-container-aspect-fill-height;
  width: 17px;
  height: 17px;
  margin-right: 3px;
  margin-left: 2px;
}

.flag-icon {
  width: 15px;
  margin-right: 5px;
}

.device-icon {
  @extend .img-container-aspect-fill-height;
  height: 17px;
}

.badge {
  height: 16px;
  border-radius: 8px;
  background-color: #f0f0f0;
  white-space: nowrap;
  display: flex;
}

.badge-icon {
  @extend .img-container-aspect-fill-height;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  object-fit: cover;
  color: white;
}

.badge-text {
  font-size: 13px;
  margin: 0 3px 0 3px;
  color: black;
}

.margin-bottom-3px {
  margin-bottom: 3px;
}

.priorities-preview {
  display: flex;
  flex-direction: row;
  /*flex-wrap: wrap;*/
  position: relative;
  overflow: hidden;
}

.team-badge {
  /* width should be the available space minus the margins and equally distributed */
  flex-basis: calc((100% - 6 * 2 * 2px) / 6);
  /* important to allow items in flex box to be smaller than its content */
  overflow: hidden;
  margin: 2px;
  /* some mysterious rule is turning the text white ("var(--bs-badge-color)", so we explicitly set it back to black*/
  color: black;
}

.team-badge-container {
  margin: -2px;
}

.badge-highlight {
  background-color: rgb(83, 153, 205); //#0076bc;
  color: white;
}

.supervisor-rating {
  height: 20px;
  padding: 0 4px;
  font-size: 16px;
  color: white;
  overflow: hidden;
}

.font-weight-300 {
  font-weight: 300;
}

.pin-button {
  @extend .position-absolute;
  background-color: #fafafa;
  height: 25px;
  width: 30px;
  top: 0;
  right: 0;
  opacity: 0;
  border-bottom-left-radius: 5px;
  border: $standard-border;
  transition: opacity 0.5s;
}

.person-card:hover .pin-button {
  opacity: 0.5;
}

.pin-button:hover {
  opacity: 1.0 !important;
}

.pin-button-active {
  opacity: 1 !important;
}

.pin-icon {
  width: 15px;
  height: 15px;
}

.flag-emoji {
  font-size: 16px;
}
