<div class="flex-column statistics-container flex-no-shrink">
  <div class="statistics-title-label">Statistics</div>
  <div class="statistics-sublabel">Priority Distribution</div>
  <div class="statistics-horizontal-divider"></div>

  <!-- legend labels top -->
  <div class="flex-row flex-">
    <div class="statistics-legend-placeholder"></div>
    <div class="flex-row flex-grow">
      @for (label of priorityDistributionLabels; track label) {
      <div class="statistics-legend-label" [style.flex-grow]="label[1]">{{ label[0] }}</div>
      }
    </div>
  </div>

  <!-- colored bars -->
  @for (team of teamService.teams; track team) {
  <div class="flex-row">
    <div class="statistics-team-label">{{ team.name }}</div>
    <div class="statistics-vertical-divider"></div>
    <div class="flex-row flex-grow">
      @for (i of teamIndices; track i) {
      <div
        class="priority-bar flex-row flex-center"
        [style.flex-grow]="priorityDistributionStatistics.get(team)[i]"
        [style.background-color]="getColorOfTeamDistributionBar(i)"
        [style.display]="priorityDistributionStatistics.get(team)[i] === 0 ? 'none' : null">
        <div class="statistics-priority-index-label">{{ i + 1 }}</div>
        <div class="statistics-bar-person-count">{{ priorityDistributionStatistics.get(team)[i] }} P.</div>
        <!--div class="priority-bar-text-overflow-cover" [style.background]="'linear-gradient(to right, rgba(0,0,0,0), ' + getColorOfTeamDistributionBar(i) + ')'"></div-->
      </div>
      }
    </div>
  </div>
  }

  <!-- legend labels bottom -->
  <div class="flex-row flex-">
    <div class="statistics-legend-placeholder"></div>
    <div class="flex-row flex-grow">
      @for (label of priorityDistributionLabels; track label) {
      <div class="statistics-legend-label" [style.flex-grow]="label[1]">{{ label[0] }}</div>
      }
    </div>
  </div>

  <!-- general statistics -->
  <div class="statistics-sublabel">Overview</div>
  <div class="statistics-horizontal-divider"></div>
  <div class="flex-row">
    <div class="flex-row flex-grow flex-justify-center">
      <div class="flex-column statistics-table">
        <!-- header -->
        <div class="flex-row statistics-general-header">
          <div class="flex-neutral-grow"></div>
          <div class="flex-neutral-grow statistics-general-header">Total</div>
          <div class="flex-neutral-grow statistics-general-header">Proportion</div>
          <div class="flex-neutral-grow statistics-general-header">Per Team</div>
        </div>

        <!-- skill level stats -->
        @for ( skillLevel of [SkillLevel.Low, SkillLevel.Medium, SkillLevel.High, SkillLevel.VeryHigh]; track skillLevel
        ) {
        <div class="flex-row flex-center">
          <div class="flex-neutral-grow flex-row flex-center flex-no-shrink">
            <div class="statistics-skill-level-badge" [style.background-color]="Colors.getColor(skillLevel)">
              {{ Skill.getLabelForSkillLevel(skillLevel) }}
            </div>
          </div>
          <div class="flex-neutral-grow">{{ getNumberOfPersonsWithSupervisorRating(skillLevel) }}</div>
          <div class="flex-neutral-grow">
            {{ Math.round((getNumberOfPersonsWithSupervisorRating(skillLevel) * 1000) / getNumberOfPersons()) / 10 }}%
          </div>
          <div class="flex-neutral-grow">
            {{ Math.round((getNumberOfPersonsWithSupervisorRating(skillLevel) * 100) / teamService.teams.length) / 100
            }}
          </div>
        </div>
        }
      </div>
    </div>
    <div class="statistics-vertical-divider"></div>
    <div class="flex-row flex-grow flex-justify-center">
      <div class="flex-column statistics-table">
        <!-- header -->
        <div class="flex-row statistics-general-header">
          <div class="flex-neutral-grow"></div>
          <div class="flex-neutral-grow statistics-general-header">Total</div>
          <div class="flex-neutral-grow statistics-general-header">Proportion</div>
          <div class="flex-neutral-grow statistics-general-header">Per Team</div>
        </div>

        <!-- iOS Devices -->
        <div class="flex-row flex-center">
          <div class="flex-neutral-grow flex-no-shrink statistics-general-header">Persons iDevice</div>
          <div class="flex-neutral-grow">{{ getTotalNumberOfPersonsWithIOSDevice() }}</div>
          <div class="flex-neutral-grow">
            {{ Math.round((getTotalNumberOfPersonsWithIOSDevice() * 1000) / getNumberOfPersons()) / 10 }}%
          </div>
          <div class="flex-neutral-grow">
            {{ Math.round((getTotalNumberOfPersonsWithIOSDevice() * 100) / teamService.teams.length) / 100 }}
          </div>
        </div>

        <!-- Mac Devices -->
        <div class="flex-row flex-center">
          <div class="flex-neutral-grow flex-no-shrink statistics-general-header">Persons Mac</div>
          <div class="flex-neutral-grow">{{ getTotalNumberOfPersonsWithMacDevice() }}</div>
          <div class="flex-neutral-grow">
            {{ Math.round((getTotalNumberOfPersonsWithMacDevice() * 1000) / getNumberOfPersons()) / 10 }}%
          </div>
          <div class="flex-neutral-grow">
            {{ Math.round((getTotalNumberOfPersonsWithMacDevice() * 100) / teamService.teams.length) / 100 }}
          </div>
        </div>

        <!-- Female Persons -->
        <div class="flex-row flex-center">
          <div class="flex-neutral-grow flex-no-shrink statistics-general-header">Female</div>
          <div class="flex-neutral-grow">{{ getNumberOfPersonsWithGender(Gender.Female) }}</div>
          <div class="flex-neutral-grow">
            {{ Math.round((getNumberOfPersonsWithGender(Gender.Female) * 1000) / getNumberOfPersons()) / 10 }}%
          </div>
          <div class="flex-neutral-grow">
            {{ Math.round((getNumberOfPersonsWithGender(Gender.Female) * 100) / teamService.teams.length) / 100 }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
