
.state_centered {
  padding: 50px;
  width: 70%;
  min-width: 300px;
  margin: 0 auto;
  text-align:center;
}

md-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 10px;
  height: 15px;
}

.constraintConfig {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.name {
  padding: 5px;
}

.comparator {
  padding: 5px;
}

.number {
}

#generateButton {
  margin-top: 50px;
}

input {
  max-width: 30px;
}
