<div class="state_centered">

  <div *ngFor="let team of teams; let i = index">

    <h1 *ngIf="!team.name">Constraints for all teams</h1>
    <h1 *ngIf="team.name && i === 1">Teams-based constraints</h1>
    <h2 *ngIf="team.name">Constraints for team {{team.name}}</h2>

    <div *ngFor="let constraint of (constraints | filterConstraintsByTeamName: team.name) ">

      <md-card>

        <div *ngIf="constraint.getType() === ConstraintType.Interval" class="constraint-config complex-constraint">

          <input mdInput class="number"
                 placeholder=""
                 name="constraintMinValue"
                 [ngModel]="constraint.getMinValue()"
                 (ngModelChange)="onConstraintMinValueChanged(constraint, $event)"
                 [disabled]="!constraint.isEnabled"
          />
          <div class="comparator">{{constraint.getComparator()}}</div>
          <div class="name">{{constraint.getName()}}</div>
          <div class="comparator">{{constraint.getComparator()}}</div>
          <input mdInput class="number"
                 placeholder=""
                 name="constraintMaxValue"
                 [ngModel]="constraint.getMaxValue()"
                 (ngModelChange)="onConstraintMaxValueChanged(constraint, $event)"
                 [disabled]="!constraint.isEnabled"
          />

        </div>

        <div *ngIf="constraint.getType() !== ConstraintType.Interval" class="constraint-config simple-constraint">

          <div class="name">{{constraint.getName()}}</div>
          <div class="comparator">{{constraint.getComparator()}}</div>

          <input *ngIf="[ConstraintType.LT,ConstraintType.LTE].indexOf(constraint.getType()) != -1" mdInput class="number"
                 placeholder=""
                 name="constraintValue"
                 [ngModel]="constraint.getMaxValue()"
                 (ngModelChange)="onConstraintMaxValueChanged(constraint, $event)"
                 [disabled]="!constraint.isEnabled"
          />

          <input *ngIf="[ConstraintType.GT,ConstraintType.GTE].indexOf(constraint.getType()) != -1" mdInput class="number"
                 placeholder=""
                 name="constraintValue"
                 [ngModel]="constraint.getMinValue()"
                 (ngModelChange)="onConstraintMinValueChanged(constraint, $event)"
                 [disabled]="!constraint.isEnabled"
          />

        </div>


        <div class="constraint-config">
          <md-slide-toggle [(ngModel)]="constraint.isEnabled"></md-slide-toggle>
        </div>

      </md-card>

    </div>

  </div>

  <button id="generateButton" md-raised-button color="accent" (click)="onGenerateClicked()">
    Generate Team Assignment
  </button>
</div>
