#container {
  max-height:83vh;
  height:100%;
  width: 300px;
  border-radius: 4px;
  margin: 10px;
  display:flex;
  flex-direction: column;
  background-color: #E0E0E0;
}

.containerHeader {
  height:auto;
}

.drag-container {
  height:100%;
  width: 100%;
  min-height: 30px;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #E0E0E0;
}

#titleContainer {
  height:auto;
}

#teamName {
  display: inline;
  padding: 0;
  margin: 0;
}

.divider {
  width: 100%;
}

#infoButton {

}

