#container {
  max-height:83vh;
  height:auto;
  width: 300px;

  border: 5px solid;
  border-radius: 10px;
  display:flex;
  flex-direction: column;
}

.drag-container {
  height:100%;
  width: 100%;
  min-height: 30px;
  overflow-y: auto;
}

#title-container {

}

.icon {
  width: 30px;
  height: 30px;
}

.iconList {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-weight: bold;
}

.iconTextPair {
  width: 20%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-weight: bold;
}
