<div *ngIf="team" id="container">
  <div id="title-container">
    <h1>{{team.name}}</h1>
    <button md-raised-button (click)="showStatistics()">
      Statistics</button>
    <hr>
  </div>

  <div *ngIf="isStatisticsVisible" id="statistics-container">
    <p>Team size: {{team.persons.length}}</p>
    <p>Ipads: {{getDeviceCount(LocalDeviceType.Ipad)}}</p>
    <p>Ipods: {{getDeviceCount(LocalDeviceType.Ipod)}}</p>
    <p>Watches: {{getDeviceCount(LocalDeviceType.Watch)}}</p>
    <p>iPhones: {{getDeviceCount(LocalDeviceType.Iphone)}}</p>
    <p>Macs: {{getDeviceCount(LocalDeviceType.Mac)}}</p>

    <hr>
  </div>

  <div [dragula]='"first-bag"' class='drag-container' [dragulaModel]="team.persons">
    <div class='sub-element' *ngFor="let person of team.persons" (click)="showPersonDetails(person)">
      <person-preview [person]="person"></person-preview>
    </div>
  </div>
</div>
