<div *ngIf="team" id="container">
  <div id="title-container">
    <h1>{{team.name}}</h1>
    <button md-raised-button (click)="showStatistics()">
      Statistics
    </button>
    <hr>
  </div>

  <div *ngIf="isStatisticsVisible" id="statistics-container">
    <p>Team size: {{team.persons.length}}</p>
    <div class="iconList">
      <img class="icon" src="{{getDeviceIconPath(LocalDeviceType.Mac)}}"> {{getDeviceCount(LocalDeviceType.Mac)}}
      <img class="icon" src="{{getDeviceIconPath(LocalDeviceType.Iphone)}}"> {{getDeviceCount(LocalDeviceType.Iphone)}}
      <img class="icon" src="{{getDeviceIconPath(LocalDeviceType.Ipod)}}"> {{getDeviceCount(LocalDeviceType.Ipod)}}
      <img class="icon" src="{{getDeviceIconPath(LocalDeviceType.Ipad)}}"> {{getDeviceCount(LocalDeviceType.Ipad)}}
      <img class="icon" src="{{getDeviceIconPath(LocalDeviceType.Watch)}}"> {{getDeviceCount(LocalDeviceType.Watch)}}
    </div>
    <hr>
  </div>

  <div [dragula]='"first-bag"' class='drag-container' [dragulaModel]="team.persons">
    <div class='sub-element' *ngFor="let person of team.persons" (click)="showPersonDetails(person)">
      <person-preview [person]="person"></person-preview>
    </div>
  </div>
</div>
