#container {
  max-height:83vh;
  height:100%;
  width: 300px;

  border-radius: 6px;
  border: 5px solid #424242;
  margin: 5px;
  display:flex;
  flex-direction: column;
}

.containerHeader {
  height:auto;
}

.drag-container {
  height:100%;
  width: 100%;
  min-height: 30px;
  overflow-y: auto;
  overflow-x: hidden;
}

#titleContainer {
  height:auto;
}

.icon {
  width: 30px;
  height: 30px;
}

.iconList {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-weight: bold;
}

.iconTextPair {
  width: 20%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-weight: bold;
}

#teamName {
  display: inline;
  padding: 0;
  margin: 0;
}

.divider {
  width: 100%;
}

#infoButton {

}

