@import '../../../scss/style-constants';
@import '../../../scss/flex-box';
@import '../../../scss/bootstrap.min';
@import '../../../scss/utility';
@import '../dashboard-common';

.dashboard {
  overflow-x: scroll;
  overflow-y: hidden;
  width: auto;
  height: 100%;
}

// team containers
.hidden-scrollbar-parent {
  height: 100%;
  flex-shrink: 0;
  overflow: hidden;
}

.hidden-scrollbar-child {
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  margin-right: -$max-scrollbar-width;
  padding-right: $max-scrollbar-width;
}

.scroll-spacer {
  height: $scroll-inset;
}

.student-pool {
  position: fixed;
  left: 10px;
  right: 10px;
  bottom: 20px;
  height: calc(50vh - 10px);
  background-color: white;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  transition: height 0.5s;
}

.student-pool-display-mode-closed {
  height: 60px;
}

.student-pool-display-mode-onerow {
  height: 220px;
}

.student-pool-display-mode-tworows {
  height: 360px;
}

.student-pool-display-mode-full {
  height: calc(100vh - 100px);
}

.student-pool-title-bar {
  margin: 10px;
}

.student-pool-label {
  color: #838383;
  font-size: 25px;
  font-weight: 300;
  margin-right: 15px;
}

.distribute-button {
  margin-right: 10px;
  font-size: 14px;
}

app-team {
  margin-top: $scroll-inset;
  margin-bottom: 320px;
}

.distribute-button-row {
  height: 31px;
}

.student-pool-size-icon {
  height: 15px;
}

.student-pool-preview-row {
  overflow-x: auto;
  overflow-y: hidden;
  align-content: flex-start;
}

.empty-orphan-team-hint-box {
  border: 2px dashed #999;
  margin: 5px;
  border-radius: 5px;
  color: #686868;
}
