<ng-container *ngIf="isDataLoaded(); else loading">
  <!-- team containers -->
  <div class="dashboard flex-row">
    <div *ngFor="let team of teamService.teams" class="hidden-scrollbar-parent">
      <div class="hidden-scrollbar-child flex-column">
        <app-team
          class="flex-no-shrink"
          [team]="team"
          (onPersonClicked)="showPersonDetails($event)"
          [onTeamStatisticsButtonPressed]="onTeamStatisticsButtonPressed"></app-team>
      </div>
    </div>
  </div>

  <!-- person pool -->
  <div
    class="person-pool flex-column overflow-hidden"
    [ngClass]="'person-pool-display-mode-' + personPoolDisplayModeFormGroup.value.personPoolDisplayModeControl">
    <!-- title and buttons -->
    <div class="flex-row flex-center person-pool-title-bar flex-no-shrink">
      <div class="person-pool-label flex-no-shrink">Person Pool</div>
      <div class="team-person-count flex-row flex-center flex-justify-center flex-no-shrink">
        <div>{{ teamService.personsWithoutTeam.length }}</div>
      </div>
      <div class="flex-grow"></div>

      <button
        mat-raised-button
        color="primary"
        class="distribute-button flex-no-shrink"
        (click)="togglePersonPoolStatistics()">
        <div class="flex-row flex-center distribute-button-row">
          <mat-icon class="flex-spacing-x-2px material-icon-trailing-space">timeline</mat-icon>
          <div>{{ statisticsVisible ? 'Hide' : 'Show' }} Statistics</div>
        </div>
      </button>
      <button
        mat-raised-button
        color="primary"
        class="distribute-button flex-no-shrink"
        (click)="openConstraintsDialog()">
        <div class="flex-row flex-center distribute-button-row">
          <mat-icon class="flex-spacing-x-2px material-icon-trailing-space">build</mat-icon>
          <div>Distribute With Constraints</div>
        </div>
      </button>
      <form [formGroup]="personPoolDisplayModeFormGroup">
        <div class="btn-group">
          <input
            mdbRadio
            type="radio"
            id="option-1"
            class="btn-check"
            formControlName="personPoolDisplayModeControl"
            [value]="PersonPoolDisplayMode[PersonPoolDisplayMode.Closed]"
            (click)="hideStatistics()" />
          <label class="btn btn-secondary" for="option-1">
            <img src="/assets/images/person-pool-closed.svg" class="person-pool-size-icon" />
          </label>
          <input
            mdbRadio
            type="radio"
            id="option-2"
            class="btn-check"
            formControlName="personPoolDisplayModeControl"
            checked="true"
            [value]="PersonPoolDisplayMode[PersonPoolDisplayMode.OneRow]"
            (click)="hideStatistics()" />
          <label class="btn btn-secondary" for="option-2">
            <img src="/assets/images/person-pool-one-row.svg" class="person-pool-size-icon" />
          </label>
          <input
            mdbRadio
            type="radio"
            id="option-3"
            class="btn-check"
            formControlName="personPoolDisplayModeControl"
            [value]="PersonPoolDisplayMode[PersonPoolDisplayMode.TwoRows]"
            (click)="hideStatistics()" />
          <label class="btn btn-secondary" for="option-3">
            <img src="/assets/images/person-pool-two-rows.svg" class="person-pool-size-icon" />
          </label>
          <input
            mdbRadio
            type="radio"
            id="option-4"
            class="btn-check"
            formControlName="personPoolDisplayModeControl"
            [value]="PersonPoolDisplayMode[PersonPoolDisplayMode.Full]" />
          <label class="btn btn-secondary" for="option-4">
            <img src="/assets/images/person-pool-full.svg" class="person-pool-size-icon" />
          </label>
        </div>
      </form>
    </div>

    <!-- person pool statistics -->
    <app-person-pool-statistics *ngIf="statisticsVisible"></app-person-pool-statistics>

    <!-- person preview cards -->
    <div class="scrollable-content flex-grow flex-row position-relative">
      <div
        *ngIf="teamService.personsWithoutTeam.length === 0"
        class="position-absolute position-absolute-full-size pointer-events-none flex-row overflow-hidden">
        <div class="flex-grow empty-orphan-team-hint-box flex-row flex-center flex-justify-center">
          <div>Drag persons here</div>
        </div>
      </div>
      <div
        dragula="persons"
        class="flex-row person-pool-preview-row flex-wrap flex-grow"
        [(dragulaModel)]="teamService.personsWithoutTeam">
        <app-person-preview
          *ngFor="let person of teamService.personsWithoutTeam"
          [person]="person"
          (click)="showPersonDetails(person)"
          [pinable]="false"></app-person-preview>
      </div>
    </div>
  </div>
</ng-container>

<!-- card that is shown if no data is loaded -->
<ng-template #loading>
  <div class="flex-row flex-justify-center">
    <app-intro-card (onImportPressed)="onImportPressed.emit()"></app-intro-card>
  </div>
</ng-template>
