<!-- card that is shown if no data is loaded -->
<div *ngIf="!isDataLoaded()" class="flex-row flex-justify-center">
  <app-intro-card (onImportPressed)="onImportPressed.emit()"></app-intro-card>
</div>

<!-- team containers -->
<div *ngIf="isDataLoaded()" class="dashboard flex-row">
  <div *ngFor="let team of teamService.teams" class="hidden-scrollbar-parent">
    <div class="hidden-scrollbar-child flex-column">
      <app-team
        class="flex-no-shrink"
        [team]="team"
        (onStudentClicked)="showStudentDetails($event)"
        [onTeamStatisticsButtonPressed]="onTeamStatisticsButtonPressed"></app-team>
    </div>
  </div>
</div>

<!-- student pool -->
<div
  *ngIf="isDataLoaded()"
  class="student-pool flex-column overflow-hidden"
  [ngClass]="getStudentPoolDisplayModeCSSClass(studentPoolDisplayMode)">
  <!-- title and buttons -->
  <div class="flex-row flex-center student-pool-title-bar flex-no-shrink">
    <div class="student-pool-label flex-no-shrink">Student Pool</div>
    <div class="team-student-count flex-row flex-center flex-justify-center flex-no-shrink">
      <div>{{ teamService.studentsWithoutTeam.length }}</div>
    </div>
    <div class="flex-grow"></div>

    <button
      mat-raised-button
      color="primary"
      class="distribute-button flex-no-shrink"
      (click)="toggleStudentPoolStatistics()">
      <div class="flex-row flex-center distribute-button-row">
        <mat-icon class="flex-spacing-x-2px material-icon-trailing-space">timeline</mat-icon>
        <div>{{ statisticsVisible ? 'Hide' : 'Show' }} Statistics</div>
      </div>
    </button>
    <button mat-raised-button color="primary" class="distribute-button flex-no-shrink" (click)="openConstraintsDialog()">
      <div class="flex-row flex-center distribute-button-row">
        <mat-icon class="flex-spacing-x-2px material-icon-trailing-space">build</mat-icon>
        <div>Distribute With Constraints</div>
      </div>
    </button>
    <form [formGroup]="studentPoolDisplayModeFormGroup" (change)="studentPoolDisplayModeUpdated()">
      <div class="btn-group">
        <input mdbRadio
          type="radio"
          id="option-1"
          class="btn-check"
          formControlName="studentPoolDisplayModeControl"
          [value]="StudentPoolDisplayMode.Closed"
        />
        <label class="btn btn-secondary" for="option-1">
          <img src="/assets/images/student-pool-closed.svg" class="student-pool-size-icon" />
        </label>
        <input mdbRadio
          type="radio"
          id="option-2"
          class="btn-check"
          formControlName="studentPoolDisplayModeControl"
          checked="true"
          [value]="StudentPoolDisplayMode.OneRow"
        />
        <label class="btn btn-secondary" for="option-2">
          <img src="/assets/images/student-pool-one-row.svg" class="student-pool-size-icon" />
        </label>
        <input mdbRadio
          type="radio"
          id="option-3"
          class="btn-check"
          formControlName="studentPoolDisplayModeControl"
          [value]="StudentPoolDisplayMode.TwoRows"
        />
        <label class="btn btn-secondary" for="option-3">
          <img src="/assets/images/student-pool-two-rows.svg" class="student-pool-size-icon" />
        </label>
        <input mdbRadio
          type="radio"
          id="option-4"
          class="btn-check"
          formControlName="studentPoolDisplayModeControl"
          [value]="StudentPoolDisplayMode.Full"
        />
        <label class="btn btn-secondary" for="option-4">
          <img src="/assets/images/student-pool-full.svg" class="student-pool-size-icon" />
        </label>
      </div>
    </form>
  </div>

  <!-- student pool statistics -->
  <app-student-pool-statistics *ngIf="statisticsVisible"></app-student-pool-statistics>

  <!-- student preview cards -->
  <div class="flex-grow flex-row position-relative">
    <div
      *ngIf="teamService.studentsWithoutTeam.length == 0"
      class="position-absolute position-absolute-full-size pointer-events-none flex-row overflow-hidden">
      <div class="flex-grow empty-orphan-team-hint-box flex-row flex-center flex-justify-center">
        <div>Drag students here</div>
      </div>
    </div>
    <div
      dragula="students"
      class="flex-row student-pool-preview-row flex-wrap flex-grow"
      [(dragulaModel)]="teamService.studentsWithoutTeam">
      <app-student-preview
        *ngFor="let student of teamService.studentsWithoutTeam"
        [student]="student"
        (click)="showStudentDetails(student)"
        [pinable]="false"></app-student-preview>
    </div>
  </div>
</div>
