@if (isDataLoaded()) {
<!-- team containers -->
<div
  class="dashboard flex-row"
  [ngClass]="'dashboard-' + personPoolDisplayModeFormGroup.value.personPoolDisplayModeControl">
  @for (team of teamService.teams; track team) {
  <div class="h-100 hidden-scrollbar-parent">
    <div class="h-100 hidden-scrollbar-child flex-column">
      <app-team
        class="flex-no-shrink h-100"
        [team]="team"
        (onPersonClicked)="showPersonDetails($event)"
        [teamStatisticsButtonPressed]="teamStatisticsButtonPressed"></app-team>
    </div>
  </div>
  }
</div>
<!-- person pool -->
<div
  class="person-pool flex-column overflow-hidden"
  [ngClass]="'person-pool-display-mode-' + personPoolDisplayModeFormGroup.value.personPoolDisplayModeControl">
  <!-- title and buttons -->
  <div class="flex-row flex-center person-pool-title-bar flex-no-shrink">
    <div class="person-pool-label flex-no-shrink">Person Pool</div>
    <div class="team-person-count flex-row flex-center flex-justify-center flex-no-shrink">
      <div>{{ teamService.personsWithoutTeam.length }}</div>
    </div>
    <div class="flex-grow"></div>
    <button
      mat-raised-button
      color="primary"
      class="distribute-button flex-no-shrink"
      (click)="onTeamStatisticsButtonPressed()">
      <div class="flex-row flex-center">
        <mat-icon class="me-2">timeline</mat-icon>
        <div>{{ toggleTeamStatisticsButtonState ? 'Show' : 'Hide' }} Team Statistics</div>
      </div>
    </button>
    <button
      mat-raised-button
      color="primary"
      class="distribute-button flex-no-shrink"
      (click)="togglePersonPoolStatistics()">
      <div class="flex-row flex-center distribute-button-row">
        <mat-icon class="flex-spacing-x-2px me-2">timeline</mat-icon>
        <div>{{ statisticsVisible ? 'Hide' : 'Show' }} Statistics</div>
      </div>
    </button>
    <form [formGroup]="personPoolDisplayModeFormGroup">
      <div class="btn-group">
        <input
          mdbRadio
          type="radio"
          id="option-1"
          class="btn-check"
          formControlName="personPoolDisplayModeControl"
          [value]="PersonPoolDisplayMode[PersonPoolDisplayMode.Closed]"
          (click)="hideStatistics()" />
        <label class="btn btn-secondary" for="option-1">
          <img src="/assets/images/person-pool-closed.svg" class="person-pool-size-icon" />
        </label>
        <input
          mdbRadio
          type="radio"
          id="option-2"
          class="btn-check"
          formControlName="personPoolDisplayModeControl"
          checked="true"
          [value]="PersonPoolDisplayMode[PersonPoolDisplayMode.OneRow]"
          (click)="hideStatistics()" />
        <label class="btn btn-secondary" for="option-2">
          <img src="/assets/images/person-pool-one-row.svg" class="person-pool-size-icon" />
        </label>
        <input
          mdbRadio
          type="radio"
          id="option-3"
          class="btn-check"
          formControlName="personPoolDisplayModeControl"
          [value]="PersonPoolDisplayMode[PersonPoolDisplayMode.TwoRows]"
          (click)="hideStatistics()" />
        <label class="btn btn-secondary" for="option-3">
          <img src="/assets/images/person-pool-two-rows.svg" class="person-pool-size-icon" />
        </label>
        <input
          mdbRadio
          type="radio"
          id="option-4"
          class="btn-check"
          formControlName="personPoolDisplayModeControl"
          [value]="PersonPoolDisplayMode[PersonPoolDisplayMode.Full]" />
        <label class="btn btn-secondary" for="option-4">
          <img src="/assets/images/person-pool-full.svg" class="person-pool-size-icon" />
        </label>
      </div>
    </form>
  </div>
  <!-- person pool statistics -->
  @if (statisticsVisible) {
  <app-person-pool-statistics></app-person-pool-statistics>
  }
  <!-- person preview cards -->
  <div class="scrollable-content flex-grow flex-row position-relative">
    @if (teamService.personsWithoutTeam.length === 0) {
    <div class="position-absolute position-absolute-full-size pointer-events-none flex-row overflow-hidden">
      <div class="flex-grow empty-orphan-team-hint-box flex-row flex-center flex-justify-center">
        <div>Drag persons here</div>
      </div>
    </div>
    }
    <div
      dragula="persons"
      class="flex-row person-pool-preview-row flex-wrap flex-grow"
      [(dragulaModel)]="teamService.personsWithoutTeam">
      @for (person of teamService.personsWithoutTeam; track person) {
      <app-student-preview-card
        [student]="getStudentById(person.tumId)"
        (click)="showPersonDetails(person)"></app-student-preview-card>
      }
    </div>
  </div>
</div>
} @else {
<div class="flex-row flex-justify-center">
  <app-intro-card (importPressed)="importPressed.emit()"></app-intro-card>
</div>
}

<!-- card that is shown if no data is loaded -->
