main {
  height:calc(100% - 20px);
  width: calc(100% - 20px);
}

.state_hidden {
  display: none;
}

.state_centered {
  padding: 5px;
  width: 50%;
  margin: 0 auto;
  text-align:center;
}

.section {
  padding-bottom: 20px;
}
