<div *ngIf="data" class="flex-justify-center flex-row main-row">
  <div class="hidden-scrollbar-parent">
    <div class="flex-column hidden-scrollbar-child">
      <div class="flex-column scrollable-content flex-no-shrink" (click)="$event.stopPropagation()">
        <!-- person detail card with instructor rating buttons -->
        <div class="main-card flex-column overflow-hidden flex-no-shrink">
          <!-- person detail card -->
          <app-person-detail-card [person]="data.person"></app-person-detail-card>

          <!-- skill level rating buttons -->
          <div class="supervisor-rating-container flex-column">
            <form [formGroup]="personSkillLevelFormGroup" (change)="personSkillLevelUpdated()">
              <div class="btn-group btn-group-sm flex-row">
                <input
                  type="radio"
                  id="option-1"
                  class="btn-check"
                  formControlName="personSkillLevelControl"
                  [value]="SkillLevel.None" />
                <label class="btn-secondary btn-none" for="option-1">
                  <div class="key-icon-container">0</div>
                  {{ getLabelForSkillLevel(SkillLevel.None) }}
                </label>
                <input type="radio" id="option-2" formControlName="personSkillLevelControl" [value]="SkillLevel.Low" />
                <label class="btn-secondary btn-low" for="option-2">
                  <div class="key-icon-container">1</div>
                  {{ getLabelForSkillLevel(SkillLevel.Low) }}
                </label>
                <input
                  type="radio"
                  id="option-3"
                  formControlName="personSkillLevelControl"
                  [value]="SkillLevel.Medium" />
                <label class="btn-secondary btn-medium" for="option-3">
                  <div class="key-icon-container">2</div>
                  {{ getLabelForSkillLevel(SkillLevel.Medium) }}
                </label>
                <input type="radio" id="option-4" formControlName="personSkillLevelControl" [value]="SkillLevel.High" />
                <label class="btn-secondary btn-high" for="option-4">
                  <div class="key-icon-container">3</div>
                  {{ getLabelForSkillLevel(SkillLevel.High) }}
                </label>
                <input
                  type="radio"
                  id="option-5"
                  class="btn-check"
                  formControlName="personSkillLevelControl"
                  [value]="SkillLevel.VeryHigh" />
                <label class="btn-secondary btn-very-high" for="option-5">
                  <div class="key-icon-container">4</div>
                  {{ getLabelForSkillLevel(SkillLevel.VeryHigh) }}
                </label>
              </div>
            </form>
          </div>
        </div>

        <!-- next / previous person buttons -->
        <div class="flex-row flex-no-shrink">
          <button
            *ngIf="!isInTeam(data.person)"
            mat-raised-button
            color="primary"
            (click)="data.onPreviousPersonClicked(); $event.stopPropagation()">
            <div class="flex-row flex-center">
              <div class="key-icon-container next-previous-person-buttons">
                <mat-icon>keyboard_arrow_left</mat-icon>
              </div>
              <div>Previous Person</div>
            </div>
          </button>
          <div class="flex-grow"></div>
          <button
            *ngIf="!isInTeam(data.person)"
            mat-raised-button
            color="primary"
            (click)="data.onNextPersonClicked(); $event.stopPropagation()">
            <div class="flex-row flex-center">
              <div class="key-icon-container next-previous-person-buttons">
                <mat-icon>keyboard_arrow_right</mat-icon>
              </div>
              <div>Next Person</div>
            </div>
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- team container -->
  <div class="hidden-scrollbar-parent team-container">
    <div class="hidden-scrollbar-child flex-column">
      <app-team
        *ngIf="isInTeam(data.person)"
        [team]="this.data.team"
        [isDraggable]="false"
        (onPersonClicked)="data.onPersonClicked($event)"></app-team>
    </div>
  </div>
</div>
