@import '../../../scss/style-constants';
@import '../../../scss/flex-box';
@import '../person-detail-common';

.main-row {
  height: 100%;
}

.person-card-column {
  overflow-y: scroll;
  margin-right: -100px;
  padding-right: 100px;
}

.scrollable-content {
  margin-top: $scroll-inset;
  margin-bottom: $scroll-inset;
}

.main-card {
  background-color: white;
  border-radius: 5px;
  margin-bottom: 10px;
}

.supervisor-rating-container {
  @extend .flex-column;
  background-color: #dcdcdc;
  padding: 10px;
}

.btn-group {
  height: 50px;
}

.btn-group > * {
  @extend .flex-basis-zero;
}

.btn-secondary {
  @extend .flex-grow, .flex-row, .flex-center, .flex-justify-center;
  color: black;
  border: 1px solid gray;
  text-align: center;
  transition: background-color 0.5s;
}

.btn-secondary:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.btn-secondary:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.btn-secondary:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.btn-none.active,
.btn-none:hover {
  @extend .skill-level-label-0;
}

.btn-low.active,
.btn-low:hover {
  @extend .skill-level-label-1;
}

.btn-medium.active,
.btn-medium:hover {
  @extend .skill-level-label-2;
}

.btn-high.active,
.btn-high:hover {
  @extend .skill-level-label-3;
}

.btn-very-high.active,
.btn-very-high:hover {
  @extend .skill-level-label-4;
}

input {
  display: none;
}

/* team container */
app-team {
  margin-top: $scroll-inset;
  margin-bottom: $scroll-inset;
}

.hidden-scrollbar-parent {
  height: 100%;
  flex-shrink: 0;
  overflow: hidden;
}

.hidden-scrollbar-child {
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  margin-right: -100px; /* $max-scrollbar-width */
  padding-right: 100px;
}

.key-icon-container {
  @extend .flex-row, .flex-center, .flex-justify-center;
  width: 20px;
  height: 20px;
  border-radius: 3px;
  border: 1.5px solid rgba(0, 0, 0, 0.7);
  margin-right: 5px;
}

.next-previous-person-buttons {
  border: none;
}
