@import '../../../scss/style-constants';
@import '../../../scss/flex-box';
@import '../../../scss/bootstrap.min';
@import '../../../scss/utility';
@import '../dashboard-common';

.statistics-container {
  background-color: #f1f1f1;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
  color: dimgray;
  white-space: nowrap;
}

.statistics-title-label {
  color: dimgray;
  font-size: 20px;
  font-weight: 300;
}

.statistics-sublabel {
  color: dimgray;
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 5px;
  margin-top: 10px;
}

.priority-bar {
  margin: 2px;
  border-radius: 2px;
  width: 0;
  overflow: hidden;
  position: relative;
}

.statistics-team-label {
  color: dimgray;
  width: 60px;
  padding: 3px 0;
  overflow: hidden;
}

.statistics-priority-index-label {
  @extend .flex-no-shrink;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  color: white;
  width: 16px;
  height: 16px;
  font-size: 14px;
  font-weight: 900;
  text-align: center;
  margin-left: 3px;
  margin-right: 5px;
}

.statistics-vertical-divider {
  background-color: #c3c3c3;
  width: 1px;
  align-self: stretch;
  margin: 0 10px;
}

.statistics-bar-person-count {
  @extend .flex-no-shrink;
  color: white;
  font-size: 14px;
}

.statistics-legend-placeholder {
  width: 81px;
}

.statistics-legend-label {
  font-size: 10px;
  font-weight: 900;
  color: gray;
  text-align: end;
}

.statistics-skill-level-badge {
  border-radius: 3px;
  padding: 1px 5px;
  color: white;
  margin: 2px 5px;
}

.statistics-general-header {
  font-weight: 500;
  margin-bottom: 4px;
}

.statistics-horizontal-divider {
  height: 1px;
  background-color: #c3c3c3;
  align-self: stretch;
  margin-bottom: 10px;
}

/*
.priority-bar-text-overflow-cover {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 10px;
}
*/

.statistics-table {
  min-width: 500px;
}
