.icon {
  width: 30px;
  height: 30px;
  margin: 6px;
}

.iconList {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-weight: bold;
}

.iconTextPair {
  display: flex;
  align-items: center;
}
