<div class="iconList">
  <div class="iconTextPair">
    <img class="icon" src="{{getDeviceIconPath(LocalDeviceType.Mac)}}"> {{getDeviceCount(LocalDeviceType.Mac)}}
  </div>

  <div class="iconTextPair">
    <img class="icon" src="{{getDeviceIconPath(LocalDeviceType.Iphone)}}"> {{getDeviceCount(LocalDeviceType.Iphone)}}
  </div>

  <div class="iconTextPair">
    <img class="icon" src="{{getDeviceIconPath(LocalDeviceType.Ipod)}}"> {{getDeviceCount(LocalDeviceType.Ipod)}}
  </div>

  <div class="iconTextPair">
    <img class="icon" src="{{getDeviceIconPath(LocalDeviceType.Ipad)}}"> {{getDeviceCount(LocalDeviceType.Ipad)}}
  </div>

  <div class="iconTextPair">
    <img class="icon" src="{{getDeviceIconPath(LocalDeviceType.Watch)}}">
    {{getDeviceCount(LocalDeviceType.Watch)}}
  </div>

</div>
