<div class="iconList">
  <img class="icon" src="{{getDeviceIconPath(LocalDeviceType.Mac)}}"> {{getDeviceCount(LocalDeviceType.Mac)}}
  <img class="icon" src="{{getDeviceIconPath(LocalDeviceType.Iphone)}}"> {{getDeviceCount(LocalDeviceType.Iphone)}}
  <img class="icon" src="{{getDeviceIconPath(LocalDeviceType.Ipod)}}"> {{getDeviceCount(LocalDeviceType.Ipod)}}
  <img class="icon" src="{{getDeviceIconPath(LocalDeviceType.Ipad)}}"> {{getDeviceCount(LocalDeviceType.Ipad)}}
  <img class="icon" src="{{getDeviceIconPath(LocalDeviceType.Watch)}}"> {{getDeviceCount(LocalDeviceType.Watch)}}
</div>
