@import '/src/scss/style-constants';

* {
  font-family: $app-font-family;
  font-weight: 400;
}

/* overlay container */
.custom-overlay-container {
  margin-top: auto;
  margin-bottom: auto;

  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  background-color: $dialog-background;
  transition: background-color 0.5s;
}

.dialog-container-hidden {
  pointer-events: none;
  background-color: transparent;
}

.dialog-content {
  transition:
    transform 0.7s,
    opacity 0.6s;
  width: 100%;
  height: 100%;
}

.dialog-content-hidden {
  transition: none;
  transform: translateY(50vh);
  opacity: 0;
}
