@import '/src/scss/style-constants';

* {
  font-family: $app-font-family;
  font-weight: 400;
}

/* overlay container */
.custom-overlay-container {
  margin-top: auto;
  margin-bottom: auto;

  position: fixed;
  background-color: rgba(255, 255, 255, 0.3);

  backdrop-filter: blur(2.5px);
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  transition: background-color backdrop-filter 0.5s;
}

.dialog-container-hidden {
  pointer-events: none;
  background-color: transparent;
  backdrop-filter: blur(0px);
}

.dialog-content {
  transition:
    transform 0.7s,
    opacity 0.6s;
  width: 100%;
  height: 100%;
}

.dialog-content-hidden {
  transition: none;
  transform: translateY(50vh);
  opacity: 0;
}

.resizable {
  height: 0.5rem;
  width: 100%;
  flex: none;
}

.resizable-active {
  cursor: row-resize;
}