@import '../../../scss/style-constants';
@import '../../../scss/flex-box';
@import '../../../scss/bootstrap.min';
@import '../../../scss/utility';
@import '../dashboard-common';

.intro-card {
  @extend .flex-column;
  background-color: white;
  margin-top: $scroll-inset;
  padding: 50px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  width: 700px;
}

.heading {
  font-size: 40px;
  font-weight: 300;
  color: #777;
  margin-bottom: 20px;
}

.text {
  color: #777;
  font-size: 20px;
  font-weight: 300;
}

.text-row {
  margin-top: 10px;
}

button {
  margin: 0 10px;
  height: 36px;
  font-size: 14px;
}
