<div class="intro-card">
  <div class="heading">Welcome to TEASE!</div>
  <div class="text text-row">This is a team allocation tool by ...</div>
  <div class="text-row flex-row flex-center">
    <div class="text">To get started, press </div>
    <button md-raised-button color="primary" (click)="onImportPressed.emit()">
      <div class="flex-row flex-center">
        <md-icon class="material-icon-trailing-space">file_upload</md-icon>
        <div>Import</div>
      </div>
    </button>
    <div class="text">and import a compatible CSV file.</div>
  </div>
</div>
