<div class="flex-column flex-center full-size">
  <div class="dialog-box flex-column" (click)="$event.stopPropagation()">
    <div class="dialog-header flex-row flex-center flex-no-shrink">
      <div class="dialog-heading">Distribute With Constraints</div>
    </div>

    <!-- scrollable content -->
    <div class="scrollable-content">
      <div class="flex-column flex-no-shrink">
        <div *ngIf="data.displayWarning" class="overwrite-warning flex-row">
          <div class="warning-heading overwrite-warning-element">Warning!</div>
          <div class="overwrite-warning-element">Applying constraints overwrites the current team allocation.</div>
        </div>

        <div class="constraint-team-name constraint-team-name-bold">Global Constraints</div>
        <div *ngFor="let constraint of getGlobalConstraints()">
          <app-constraint [constraint]="constraint"></app-constraint>
        </div>

        <div *ngFor="let team of getRealTeams()" class="flex-column">
          <div class="constraint-team-name constraint-team-name-toggleable flex-row flex-center flex-no-shrink"
               (click)="toggleTeamConstraintVisibility(team)">
            <div class="flex-spacing-5">Constraints for Team</div>
            <div class="constraint-team-name-bold">{{ team.name }}</div>
            <md-icon *ngIf="!areConstraintsForTeamVisible(team)">arrow_drop_down</md-icon>
            <md-icon *ngIf="areConstraintsForTeamVisible(team)">arrow_drop_up</md-icon>
            <div *ngIf="hasActiveConstraints(team)" class="active-constraints-badge flex-row flex-center flex-justify-center flex-spacing-5">
              <div>active</div>
            </div>
          </div>
          <app-constraint *ngFor="let constraint of (areConstraintsForTeamVisible(team) ? getConstraintsForTeam(team) : [])"
                          [constraint]="constraint"></app-constraint>
        </div>
      </div>
    </div>

    <div class="dialog-footer flex-row-reverse flex-center flex-no-shrink">
      <button md-raised-button color="primary" (click)="applyConstraints(); $event.stopPropagation()">
        Distribute Persons
      </button>
    </div>
  </div>
</div>
