@import '../../../scss/style-constants';
@import '../../../scss/utility';
@import '../../../scss/flex-box';

.dialog-box {
  background-color: white;
  border: $standard-border;
  width: 600px;
  //height: 300px;
  margin-top: $scroll-inset;
  margin-bottom: $scroll-inset;
}

.dialog-header {
  height: 30px;
  background-color: #EEE;
  padding: 10px;
}

.dialog-heading {
  font-size: 25px;
  font-weight: 300;
}

.flex-spacing-10 {
  margin: -10px;
}

.flex-spacing-10 > * {
  margin: 10px;
}

.scrollable-content {
  overflow-y: auto;
}

.overwrite-warning {
  margin: 10px;
  border-radius: 5px;
  background-color: #fff3cd;
  border: 1px solid #ffeeba;
  padding-left: 5px;
}

.overwrite-warning-element {
  margin: 8px;
  color: #856404;
}

.warning-heading {
  font-weight: bold;
}

.dialog-footer {
  height: 25px;
  background-color: #EEE;
  padding: 10px;
}

.constraint-container {
  background-color: #F5F5F5;
  border-radius: 10px;
  margin: 2px 12px;
  height: 40px;
  padding: 0 15px;
}

md-slide-toggle {
  height: 14px;
}

input {
  width: 30px;
}

.comparator-container {
  background-color: #DDD;
  font-weight: bold;
  border-radius: 50%;
  color: black;
  width: 25px;
  height: 25px;
}
