@import '../../../scss/style-constants';
@import '../../../scss/utility';
@import '../../../scss/flex-box';

.dialog-box {
  background-color: white;
  border: $standard-border;
  width: $regular-overlay-width;
  margin-top: $scroll-inset;
  margin-bottom: $scroll-inset;
}

.dialog-header {
  height: 30px;
  background-color: #EEE;
  padding: 10px;
}

.dialog-heading {
  font-size: 25px;
  font-weight: 300;
}

.scrollable-content {
  overflow-y: auto;
}

.warning {
  margin: 10px;
  border-radius: 5px;
  background-color: #fff3cd;
  border: 1px solid #ffeeba;
  padding-left: 5px;
}

.warning-element {
  margin: 8px;
  color: #856404;
}

.warning-heading {
  font-weight: bold;
}

.error {
  border-radius: 5px;
  background-color: #ffe1db;
  border: 1px solid rgb(230, 180, 170);
  padding-left: 5px;
  transition: opacity 0.5s;
  margin-right: 10px;
}

.error-element {
  margin: 8px;
  color: #9b240b;
}

.error-heading {
  font-weight: bold;
}

.error-hidden {
  opacity: 0;
}

.constraint-team-name {
  margin: 5px 12px 3px 12px;
  padding: 2px 18px;
  color: #666;
  border-radius: 10px;
  cursor: pointer;
}

.flex-spacing-5 {
  margin-left: 5px;
  margin-right: 5px;
}

.flex-spacing-5:first-child {
  margin-left: 0;
}

.flex-spacing-5:last-child {
  margin-right: 0;
}

.constraint-team-name-bold {
  font-weight: 900;
}

.constraint-team-name-toggleable {
  transition: background-color 0.3s;
}

.constraint-team-name-toggleable:hover {
  background-color: #F5F5F5;
}

.dialog-footer {
  height: 25px;
  background-color: #EEE;
  padding: 10px;
}

.active-constraints-badge {
  height: 16px;
  border-radius: 8px;
  background-color: $secondary-color;
  color: white;
  font-weight: 800;
  font-size: 14px;
  padding: 0 5px;
}
