@import '../scss/style-constants.scss';
@import '../scss/flex-box.scss';
@import '../scss/dragula.scss';

* {
  font-family: $app-font-family;
  font-weight: 400;
}

.container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: $gray-f5;
}

// toolbar
.title-bar {
  width: 100vw;
  height: $toolbar-height;
  background-color: $primary-color;
}

.title-bar-item-container {
  padding: 10px 20px;
}

@include horizontal-spacing(toolbar-items-spacing, 5px);

.icon {
  height: 60px;
}

.app-title {
  color: white;
  font-size: 40px;
  font-weight: 100;
}

// dialog container
.dialog-container {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  background-color: $dialog-background;
}

// app content
.app-content {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

// toolbar temporary
.buttons-overlay {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
}

.buttons-overlay-item {
  margin: 10px 10px 0 0;
}
