.container {
  height: calc(100% - 64px);
}

#toolbar {
  height: 64px;
  width: calc(100% - 20px);
}

.app-toolbar-filler {
  flex: 1 1 auto;
}

.clickable {
  cursor: pointer;
}

.centerContentVertically {
  display: flex;
  height: 100%;
  flex-direction: row;
  align-items: center;
}

.app-content {
  /*TODO find out how to make app content bury the whole screen exxactly --TEST433-*/
  height: 100%;
  overflow-y: auto;
}

.icon {
  height: 50px;
  margin-right: 15px;
}

#mainActionButton {
}

.dialog-container {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.2);
}
