<div class="container">

  <!-- title bar -->
  <div class="title-bar">
    <div class="title-bar-item-container flex-row flex-center">
      <img class="icon toolbar-items-spacing" src="/assets/images/icon.png">
      <div class="app-title toolbar-items-spacing flex-grow">TEASE</div>
    </div>
  </div>

  <!-- dialog for person details (if visible) -->
    <div class="overlay-container" (click)="closeOverlay()"
         [ngClass]="{ 'dialog-container-hidden': !overlayVisible }">
      <div class="dialog-content" [ngClass]="{ 'dialog-content-hidden': !overlayVisible }" >
        <ng-template appOverlayHost></ng-template>
      </div>
    </div>

  <!-- dashboard -->
  <div class="app-content position-fixed-fill">
    <app-dashboard ></app-dashboard>
  </div>

  <!-- buttons overlay -->
  <div class="buttons-overlay flex-row-reverse pointer-events-none">
    <div class="buttons-overlay-item pointer-events-auto">
      <button md-raised-button color="primary" (click)="exportData()">
        <div class="flex-row flex-center">
          <md-icon>file_download</md-icon>
          <div>Export</div>
        </div>
      </button>
    </div>

    <div class="buttons-overlay-item pointer-events-auto">
      <button md-raised-button color="primary" (click)="showResetTeamAllocationConfirmation()">
        <div class="flex-row flex-center">
          <md-icon>replay</md-icon>
          <div>Reset</div>
        </div>
      </button>
    </div>

    <div class="buttons-overlay-item pointer-events-auto">
      <button md-raised-button color="primary" (click)="showImportOverlay()">
        <div class="flex-row flex-center">
          <md-icon>file_upload</md-icon>
          <div>Import</div>
        </div>
      </button>
    </div>
  </div>
</div>
