<div class="container">
  <div *ngIf="isToolbarVisible" class="centerContentVertically" color="primary" id="toolbar">
    <div class="clickable centerContentVertically" (click)="gotoHome()">
      <img class="icon" src="/assets/images/icon.png">
      TEASE
    </div>

    <span class="app-toolbar-filler"></span>

    <p>Score: {{totalScore}}</p>

    <span class="app-toolbar-filler"></span>

    <button id="mainActionButton" *ngIf="isButtonVisible" md-raised-button color="accent"
            (click)="onButtonClicked()">{{buttonName}}
    </button>
  </div>

  <div class="app-content md-primary">
    <router-outlet>

    </router-outlet>
  </div>
</div>

