<div *ngIf="person">
  <md-card [style.border-color]="getColor()" class="skillColored">
    <div class="card-content">
      <img md-card-avatar src="{{getGravatarIconPath()}}">

      <div class="data-container">
        <div class="name-container">
            {{person.firstName}}
            {{person.lastName}}
        </div>
        <img class="icon" id="gender" src="{{getGenderIconPath()}}">
      </div>

      <!--shows an icon for the supervisor rating-->
      <!--<div class="end-aligned">-->
        <!--<img *ngIf="isPersonRated()" class="icon" src="{{getSkillIconPath()}}">-->
      <!--</div>-->
    </div>
  </md-card>
</div>
