md-card {
  margin:6px;
}

md-card-title{
  margin: 0;
}

.icon {
  width: 30px;
  height: 30px;
}
.end-aligned {
  margin-left: auto;
}

.skillColored {
  border: dotted;
}

.card-content {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.data-container {
  align-items: center;
  display: flex;
  flex-direction: row;
}

.name-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin: 10px;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
