<div class="d-flex justify-content-center align-items-center vh-100">
  <div class="w-75">
    <div class="bg-white p-4" (click)="$event.stopPropagation()">
      <div class="d-flex gap-4 p-4 bg-dark">
        <div class="form-floating w-100">
          <select
            class="form-select"
            id="ProjectSelect"
            [(ngModel)]="selectedConstraintProject"
            (ngModelChange)="getConstraint()">
            @for (selectGroup of constraintProjectSelectData; track selectGroup) {
              <option [value]="selectGroup.id">{{ selectGroup.name }}</option>
            }
          </select>
          <label for="ProjectSelect">Project</label>
        </div>

        <div class="form-floating w-100">
          <select
            class="form-select"
            id="ConstraintPropertySelect"
            [(ngModel)]="selectedConstraintFunctionProperty"
            (ngModelChange)="selectData()">
            @for (selectGroup of constraintFunctionProperties; track selectGroup) {
              <optgroup [label]="selectGroup.name">
                @for (selectData of selectGroup.values; track selectData) {
                  <option [value]="selectData.id">{{ selectData.name }}</option>
                }
              </optgroup>
            }
          </select>
          <label for="ConstraintPropertySelect">Property</label>
        </div>

        <div class="form-floating w-100">
          <select
            class="form-select"
            id="ConstraintFunctionOperatorSelect"
            [(ngModel)]="selectedConstraintFunctionOperator"
            (ngModelChange)="getConstraint()">
            @for (selectData of constraintFunctionOperatorSelectData; track selectData) {
              <option [value]="selectData.id">{{ selectData.name }}</option>
            }
          </select>
          <label for="ConstraintFunctionOperatorSelect">Operator</label>
        </div>

        <div class="form-floating w-100">
          <select
            class="form-select"
            id="ConstraintFunctionValueSelect"
            [(ngModel)]="selectedConstraintFunctionValue"
            (ngModelChange)="getConstraint()">
            @for (selectData of constraintFunctionValueSelectData; track selectData) {
              <option [value]="selectData.id">{{ selectData.name }}</option>
            }
          </select>
          <label for="ConstraintFunctionValueSelect">Value</label>
        </div>

        <div class="form-floating w-100">
          <select
            class="form-select"
            id="OperatorSelect"
            [(ngModel)]="selectedConstraintOperator"
            (ngModelChange)="getConstraint()">
            @for (selectData of constraintOperators; track selectData) {
              <option [value]="selectData.id">{{ selectData.name }}</option>
            }
          </select>
          <label for="OperatorSelect">Value</label>
        </div>

        <div class="form-floating w-100">
          <input
            type="number"
            class="form-control"
            id="ThresholdInput"
            [(ngModel)]="constraintThresholdValue"
            (ngModelChange)="getConstraint()" />
          <label for="ThresholdInput">Threshold</label>
        </div>
      </div>

      <div style="height: 30rem" class="overflow-y-scroll my-5 bg-dark p-3 w-100">
        <p class="text-white">{{ constraint?.students.length }}</p>
        @for (constraintFunction of constraint?.constraint; track constraintFunction) {
          <p class="text-white">{{ constraintFunction }}</p>
        }
      </div>

      <button (click)="storeConstraint()">
        <span class="material-icons">save</span>
        Save
      </button>
    </div>
  </div>
</div>
