<div class="flex-column flex-center full-size">
  <input
    #fileInput
    type="file"
    class="hidden"
    name="Choose file"
    (click)="$event.stopPropagation()"
    (change)="onFileChanged($event)"
    accept="text/csv" />

  <div class="dialog-box flex-column flex-no-shrink" (click)="$event.stopPropagation()">
    <div class="dialog-header flex-row flex-center">
      <div class="dialog-heading">Import</div>
    </div>
    @if (data.overwriteWarning) {
      <div class="warning flex-row">
        <div class="warning-heading warning-element">Warning!</div>
        <div class="warning-element">Importing new data replaces the current dataset.</div>
      </div>
    }
    <div class="flex-column flex-grow gap-2 p-3">
      <button mat-raised-button color="primary" (click)="importFromCSV()">
        <mat-icon>insert_drive_file</mat-icon>Choose CSV File
      </button>
      @if (this.isImportPossible()) {
        <button mat-raised-button color="primary" (click)="importFromPrompt()"><mat-icon>api</mat-icon>PROMPT</button>
      }
      <button mat-raised-button color="primary" (click)="loadExampleData()">
        <mat-icon>cloud_download</mat-icon>Load Example Data
      </button>
    </div>
  </div>
</div>
