@import '../../../scss/style-constants';
@import '../../../scss/utility';
@import '../../../scss/flex-box';
@import '../dialog-common';

.hidden {
  display: none;
}

.separator {
  background-color: #AAA;
  width: 1px;
  margin: 20px 0;
}

.alternative-box {
  margin: 20px;
  color: #333;
}

.alternative-heading{
  font-weight: bold;
}

.flex-spacing-10 {
  padding: -10px;
}

.flex-spacing-10 > * {
  margin: 10px;
}

.warning {
  margin: 10px;
  border-radius: 5px;
  background-color: #fff3cd;
  border: 1px solid #ffeeba;
  padding-left: 5px;
}

.warning-element {
  margin: 8px;
  color: #856404;
}

.warning-heading {
  font-weight: bold;
}

md-icon {
  margin-right: 5px;
}
