<div class="flex-column flex-center full-size">
  <input
    #fileInput
    type="file"
    class="hidden"
    name="Choose file"
    (click)="$event.stopPropagation()"
    (change)="onFileChanged($event)"
    accept="text/csv" />

  <div class="dialog-box flex-column flex-no-shrink" (click)="$event.stopPropagation()">
    <div class="dialog-header flex-row flex-center">
      <div class="dialog-heading">Import</div>
    </div>
    @if (data.overwriteWarning) {
      <div class="warning flex-row">
        <div class="warning-heading warning-element">Warning!</div>
        <div class="warning-element">Importing new data replaces the current dataset.</div>
      </div>
    }
    <div class="flex-row flex-grow">
      <div class="flex-grow flex-column flex-basis-zero alternative-box flex-spacing-10">
        <div class="align-self-center alternative-heading">Example Data</div>
        <div>You can use example data to explore and test the app.</div>
        <button mat-raised-button color="primary" (click)="loadExampleData()">
          <mat-icon>cloud_download</mat-icon>Load Example Data
        </button>
      </div>
      <div class="seperator"></div>
      <div class="flex-grow flex-column flex-basis-zero alternative-box flex-spacing-10">
        <div class="align-self-center alternative-heading">CSV File</div>
        <div>Data can be loaded from a file in the CSV format.</div>
        <button mat-raised-button color="primary" (click)="openFileInput()">
          <mat-icon>insert_drive_file</mat-icon>Choose File
        </button>
      </div>
    </div>
  </div>
</div>
