.container {
  height: calc(100% - 64px);
}

#toolbar {
 height: 64px;
}

.app-toolbar-filler {
  flex: 1 1 auto;
}


.clickable {
  cursor: pointer;
}

.app-content {
  /*TODO find out how to make app content bury the whole screen exxactly --TEST433-*/
  height:100%
}
