<div>
  <!-- title bar -->
  <div class="navbar">
    <div class="navbar-logo flex-row">
      <img class="navbar-logo" src="/assets/images/icon.png" />
      <div class="navbar-title toolbar-items-spacing flex-grow">TEASE</div>
    </div>

    <div class="navbar-buttons flex-row">
      <button class="navbar-button-icon" matTooltip="Highlight" (click)="showPersonHighlightingOverlay()">
        <mat-icon>edit</mat-icon>
      </button>
      <button class="navbar-button-icon" matTooltip="Sort" (click)="showSortConfirmation()">
        <mat-icon>sort</mat-icon>
      </button>
      <button mat-raised-button class="navbar-button-primary" (click)="openConstraintsDialog()">
        <mat-icon>groups_3</mat-icon>
        <div>Distribute Teams</div>
      </button>
      <button class="navbar-button-icon" [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="showExportOverlay()">
          <mat-icon>file_upload</mat-icon>
          <div>Export</div>
        </button>
        <button mat-menu-item (click)="showImportOverlay()">
          <mat-icon>file_download</mat-icon>
          <div>Import</div>
        </button>
        <button mat-menu-item (click)="showResetTeamAllocationConfirmation()">
          <mat-icon>replay</mat-icon>
          <div>Reset</div>
        </button>
      </mat-menu>
    </div>
  </div>

  <!-- overlay (if visible) -->
  <div
    class="overlay-container"
    (click)="overlayService.closeOverlay()"
    [ngClass]="{ 'dialog-container-hidden': !overlayVisible }">
    <div class="dialog-content" [ngClass]="{ 'dialog-content-hidden': !overlayVisible }">
      <ng-template appOverlayHost></ng-template>
    </div>
  </div>

  <!-- dashboard -->
  <div class="mt-3 app-content position-fixed-fill">
    <app-dashboard (importPressed)="showImportOverlay()"></app-dashboard>
  </div>
</div>
