@import '../scss/style-constants.scss';
@import '../scss/flex-box.scss';
@import '../scss/dragula.scss';
@import '../scss/utility';

* {
  font-family: $app-font-family;
  font-weight: 400;
}

.container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: $gray-f5;
}

/* overlay container */
.custom-overlay-container {
    margin-top: auto;
    margin-bottom:auto;

  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  background-color: $dialog-background;
  transition: background-color 0.5s;
}

.dialog-container-hidden {
  pointer-events: none;
  background-color: transparent;
}

.dialog-content {
  transition:
    transform 0.3s,
    opacity 0.7s;
  width: 100%;
  height: 100%;
}

.dialog-content-hidden {
  transition: none;
  transform: translateY(50vh);
  opacity: 0;
}

// app content
.app-content {
  width: 100vw;
  overflow: hidden;
}
