#toolbar {
  height:8vh;
}

.app-toolbar-filler {
  flex: 1 1 auto;
}

.clickable {
  cursor: pointer;
}

.app-content {
  background-color: deepskyblue;
  /*TODO find out how to make app content bury the whole screen exxactly --TEST4--*/
  height: 100%;
}
