@import '../../../scss/style-constants';
@import '../../../scss/flex-box';
@import '../../../scss/bootstrap.min';
@import '../../../scss/utility';
@import '../dashboard-common';

.legend-label {
  font-size: 10px;
  font-weight: 900;
  color: gray;
  text-align: center;
}

.statistics-container {
  height: 100px;
}

.priority-bar {
  margin: 3px;
  border-radius: 2px;
  background-color: gray;
  transition: flex-grow 0.5s;
}

.priority-index-label-container {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 3px;
  height: 18px;
  left: 5px;
  bottom: 5px;
  right: 5px;
  position: absolute;
}

.priority-index-label-text {
  color: white;
  font-size: 12px;
  font-weight: 900;
}

.horizontal-divider {
  height: 1px;
  background-color: #c3c3c3;
  align-self: stretch;
}

.floating-average-label {
  position: absolute;
  top: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  padding: 3px 6px;
  color: white;
  font-weight: 700;
  font-size: 14px;
}
