@import '../../../scss/style-constants.scss';

.flex-spacing-3 {
  margin: -3px;
}

.flex-spacing-3 > * {
  margin: 3px;
}

.person-card {
  margin: 5px;
  color: black;
  font-size: 13px;
  background-color: #f5f5f5;
  border: $standard-border;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  border-radius: 3px;
  cursor: pointer;
}

.person-card:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  position: relative;
}

.profile-pic {
  border-bottom-right-radius: 10px;
  border-top-left-radius: 3px;
  width: 90px;
  height: 65px;
  object-fit: cover;
}

.person-information {
  padding-left: 5px;
  padding-top: 5px;
}

.name {
  font-weight: 400;
  font-size: 17px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.gender-icon {
  width: 17px;
  height: 17px;
  margin-right: 3px;
  margin-left: 2px;
}

.flag-icon {
  width: 15px;
  margin-right: 5px;
}

.device-icon {
  width: 20px;
  height: 20px;
  opacity: .8;
}

.badge {
  height: 16px;
  border-radius: 8px;
  background-color: #e1e2e1;
}

.badge-icon {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  object-fit: cover;
  color: white;
}

.badge-text {
  font-size: 13px;
  margin: 0 7px 0 3px;
}

.margin-bottom-3px {
  margin-bottom: 3px;
}

.priorities-preview {
  display: flex;
  flex-direction: row;
  /*flex-wrap: wrap;*/
  position: relative;
  overflow: hidden;
}

.team-badge {
  background-color: #EAEAEA;
  border-radius: 3px;
  padding: 0 2px;
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  cursor: default;
  min-width: 38.66px;
  max-width: 38.66px;
  text-align: center;
}

.team-badge-highlight {
  background-color: #909090;
  color: white;
}

.team-badge-index {
  background-color: rgba(0, 0, 0, .1);
  position: absolute;
  left: 0;
  width: 15px;
  height: 100%;
  border-radius: 10px;
  text-align: center;
  vertical-align: middle;
  font-weight: bold;
}
