<div *ngIf="person" class="person-card flex-column flex-no-shrink">
  <!-- profile pic and everything right to it -->
  <div class="flex-row margin-bottom-3px">
    <img class="profile-pic" src="{{ getGravatarIcon(this.person.email, 180) }}">

    <!-- column with personal information right to the profile picture -->
    <div class="person-information">
      <!-- gender icon with name and optional skill level badge -->
      <div class="flex-row flex-center margin-bottom-3px">
          <img class="gender-icon" src="{{ getGenderIconPath(this.person.gender) }}">
          <div class="name">{{person.firstName}} {{person.lastName}}</div>
      </div>

      <!-- language, oop and ios level -->
      <div class="flex-row flex-center flex-spacing-3">
        <div class="badge flex-row flex-center">
          <img class="badge-icon" src="/assets/images/german.png">
          <div class="badge-text">{{person.germanLanguageLevel}}</div>
        </div>
        <div class="badge flex-row flex-center">
          <div class="badge-icon flex-row flex-center flex-justify-center"
               [style.background-color]="getColor(getOOPSkillLevel())">
            <div>{{ getFirstLetterOfSkillLevelName(getOOPSkillLevel()) }}</div>
          </div>
          <div class="badge-text">OOP</div>
        </div>
        <div class="badge flex-row flex-center">
          <div class="badge-icon flex-row flex-center flex-justify-center"
               [style.background-color]="getColor(person.getiOSSkillLevel())">
            <div>{{ getFirstLetterOfSkillLevelName(person.getiOSSkillLevel()) }}</div>
          </div>
          <div class="badge-text">iOS</div>
        </div>
      </div>

      <div class="flex-row flex-center">
        <img class="device-icon flex-spacing-x-2px" *ngFor="let device of person.devices"
             src="{{ getDeviceTypeIconPath(device.deviceType) }}">
      </div>
    </div>
  </div>

  <!-- team priorities -->
  <div class="flex-column">
    <!-- teams 1 - 6 -->
    <span class="priorities-preview" style="margin-bottom: 4px;">
        <span *ngFor="let team of person.teamPriorities.slice(0, 6); let i = index"
              class="team-badge flex-spacing-x-2px"
              [class.team-badge-highlight]="team === person.team"> <!-- && person.teamPriorities.indexOf(team) < 3 -->
          {{team.name}}
        </span>
    </span>

    <!-- teams 6 - 12 -->
    <span class="priorities-preview">
        <span *ngFor="let team of person.teamPriorities.slice(6, 12); let i = index"
              class="team-badge flex-spacing-x-2px"
              [class.team-badge-highlight]="team === person.team"> <!-- && person.teamPriorities.indexOf(team) < 3 -->
          {{team.name}}
        </span>
    </span>
  </div>

</div>
