<div *ngIf="person" class="person-card flex-column flex-no-shrink">
  <div class="flex-column border-box">
    <!-- profile pic and everything right to it -->
    <div class="flex-row">
      <img class="profile-pic" src="{{ getGravatarIcon(this.person.email, 180) }}">

      <!-- column with personal information right to the profile picture -->
      <div class="person-information spacing-3-y">
        <!-- gender icon with name and optional skill level badge -->
        <div class="flex-row flex-center margin-bottom-3px">
          <img class="gender-icon" src="{{ getGenderIconPath(this.person.gender) }}">
          <div class="name">{{person.firstName}} {{person.lastName}}</div>
        </div>

        <!-- language, oop and ios level -->
        <div class="flex-row flex-center spacing-3-x">
          <div class="badge flex-row flex-center">
            <img class="badge-icon" src="/assets/images/german.png">
            <div class="badge-text">{{person.germanLanguageLevel}}</div>
          </div>
          <div class="badge flex-row flex-center">
            <div class="badge-icon flex-row flex-center flex-justify-center"
                 [style.background-color]="getColor(person.getiOSSkillLevel())">
              <div>{{ getFirstLetterOfSkillLevelName(person.getiOSSkillLevel()) }}</div>
            </div>
            <div class="badge-text">iOS</div>
          </div>
        </div>

        <div class="flex-row flex-center spacing-3-x">
          <img class="device-icon" *ngFor="let device of person.devices"
               src="{{ getDeviceTypeIconPath(device.deviceType) }}">
        </div>
      </div>
    </div>

    <!-- team priorities -->
    <div class="flex-column padding-3">
      <div class=" flex-row flex-wrap team-badge-container">
        <div *ngFor="let team of person.teamPriorities; let i = index"
             class="badge flex-row flex-center flex-justify-center team-badge"
             [class.badge-highlight]="team === person.team">
          <div>{{team.name}}</div>
        </div>
      </div>
    </div>
  </div>

  <!-- instructor rating -->
  <div class="supervisor-rating flex-row flex-center" [style.background-color]="getColor(this.person.supervisorRating)">
    <div class="font-weight-300">{{ getSupervisorRatingString() }}</div>
  </div>
</div>
