<div class="state_centered">

  <h1 class="heading">Constraints</h1>

  <md-card *ngFor="let constraint of constraints">
    <div class="constraintConfig">
      <div class="name">{{constraint.getName()}}</div>
      <div *ngIf="constraint.isEnabled" class="comparator"> {{constraint.getComparator()}}</div>
      <input *ngIf="constraint.isEnabled" mdInput class="number"
                placeholder="Constraint Value"
                name="constraintValue"
                type="constraintValue"
                [ngModel]="constraint.getValue()"
                (ngModelChange)="onConstraintValueChanged(constraint,$event)"/>
    </div>

    <div class="constraintConfig">
      <md-slide-toggle [(ngModel)]="constraint.isEnabled"></md-slide-toggle></div>

  </md-card>

  <button id="generateButton" md-raised-button color="accent" (click)="onGenerateClicked()">
    Generate Team Assignment
  </button>
</div>
