
.state_centered {
  padding: 50px;
  width: 70%;
  margin: 0 auto;
  text-align:center;
}

md-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 10px;
  height: 15px;
}

.constraintConfig {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.name {
  min-width: 120px;
}

.comparator {
  width: 50px;
}

.number {
}

#generateButton {
  margin-top: 50px;
}
