<div class="state_centered">

  <h1 class="heading">Constraints</h1>

  <md-card *ngFor="let constraint of constraints">
    <div class="constraintConfig">
      <div class="name">{{constraint.getName()}}</div>
      <div class="comparator"> {{constraint.getComparator()}}</div>
      <md-input class="number"
                placeholder="Constraint Value"
                name="constraintValue"
                type="constraintValue"
                [ngModel]="constraint.getValue()"
                (ngModelChange)="onConstraintValueChanged(constraint,$event)">

      </md-input>
    </div>

    <div class="constraintConfig"><md-slide-toggle [checked]="true"></md-slide-toggle></div>

  </md-card>

  <button id="generateButton" md-raised-button color="accent" (click)="onGenerateClicked()">
    Generate Teams
  </button>
</div>
