#container {
  height:100%;
  width: 300px;
  margin-left: 10px;
  margin-right: 10px;
  display:flex;
  flex-direction: column;
  background-color: #E0E0E0;
}

.roundedUpperCorners {
  border-top-right-radius: 7px;
  border-top-left-radius: 7px;
}

.roundedLowerCorners {
  border-bottom-right-radius: 7px;
  border-bottom-left-radius: 7px;
}
.containerHeader {
  height:auto;
}

.drag-container {
  height:100%;
  width: 100%;
  min-height: 30px;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #E0E0E0;

}

#titleContainer {
  height:45px;
  display: flex;
  align-items: center;
  padding:10px;
  background: white;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: clip;
}

#teamName {
  padding: 0;
  margin: 0;
  max-width: 230px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-weight: lighter;
  color: grey;
}

.divider {
  width: 100%;
}

#infoButton {
  margin-left: auto;
  display: flex;
  flex-direction: row;
}

.sub-element {
  /*margin-right: 9px;*/
}

hr {
  margin: 0;
}

