<div *ngIf="team" id="container">
  <div class="containerHeader">
    <div style="padding-left: 20px; margin-bottom: 10px" id="titleContainer" >
      <h1>
        <div id="teamName">
          {{team.name}}
          <span style="margin-left: 10px; color: #607d8a; font-weight: bold">
            {{team.persons.length}}
          </span>
        </div>
      </h1>
      <div id="infoButton">
        <button md-button (click)="showStatistics()">
          <md-icon color="accent">info</md-icon>
        </button>
      </div>
    </div>

    <div *ngIf="isStatisticsVisible">
      <team-score *ngIf="!isTeamEmpty()" [team]="team"></team-score>
      <priority-chart *ngIf="!isTeamEmpty()" [team]="team"></priority-chart>
      <devices [devices]="getDevices()"></devices>
    </div>
  </div>

  <div [dragula]='"first-bag"' class='drag-container'
       [dragulaModel]="team.persons">
    <div class='sub-element' *ngFor="let person of team.persons" (click)="showPersonDetails(person)">
      <person-preview [person]="person"></person-preview>
    </div>
  </div>
</div>
