<div *ngIf="team" id="container" class="roundedUpperCorners roundedLowerCorners">
  <div class="containerHeader roundedUpperCorners">
    <div id="titleContainer" class="roundedUpperCorners">
      <h1>
        <div id="teamName">{{team.name}} ({{team.persons.length}})</div>
      </h1>
      <div id="infoButton">
        <button md-button (click)="showStatistics()">
          <md-icon color="accent">info</md-icon>
        </button>
      </div>
    </div>

    <div *ngIf="isStatisticsVisible">
      <team-score *ngIf="!isTeamEmpty()" [team]="team"></team-score>
      <hr>
      <priority-chart *ngIf="!isTeamEmpty()" [team]="team"></priority-chart>
      <hr>
      <devices [devices]="getDevices()"></devices>
    </div>

    <hr>
  </div>

  <div [dragula]='"first-bag"' class='drag-container roundedLowerCorners'
       [dragulaModel]="team.persons">
    <div class='sub-element' *ngFor="let person of team.persons" (click)="showPersonDetails(person)">
      <person-preview [person]="person"></person-preview>
    </div>
  </div>
</div>
