#dashboard {
  overflow-x: scroll;
  width: auto;
  height: 100%;
  display:flex;
  white-space: nowrap;
}

.element-container {
  height: 100%;
  width: auto;
  flex-direction: column;
}

.drag-container {
  display:flex;
  flex-direction: column;
  width:auto;
  height:500px;
  overflow-y: auto;

  border: 5px solid;
  border-radius: 10px;
  padding: 14px;
}

.sub-element {

}
