#dashboard {
  overflow: auto;
  white-space: nowrap;
}

.box {
  display:flex;
  align-items: flex-start;
  border: 5px solid;
  border-radius: 10px;
  padding: 14px;
  text-decoration: none;
  overflow-y: auto;
}
