#dashboard {
}

.container {
  display:flex;
  flex-direction: column;
  border: 5px solid;
  border-radius: 10px;
  padding: 14px;
  width:auto;
  height:500px;
  text-decoration: none;
  overflow-y: auto;
}

.sub-element {

}
