@import '../../../scss/style-constants';
@import '../dashboard-common';

.team-card {
  width: 300px;
  margin-left: 10px;
  margin-right: 10px;
  background-color: white;
  border: 1px solid #ddd;
  color: #686868;
  background-color: white; // $gray-f5;
  padding: 0px;
}

.title-elements-spacing {
  margin: 10px;
}

.team-name {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  text-align: center;
  flex-grow: 1;
  flex-basis: 0;
  font-size: 40px;
  font-weight: 300;
}

.drag-container {
  height:100%;
  width: 100%;
  min-height: 30px;
}
