<div *ngIf="team" class="team-card flex-column" (click)="$event.stopPropagation()">

  <!-- team title -->
  <div class="flex-row flex-justify-content-space-between flex-center">
    <div class="team-person-count title-elements-spacing flex-row flex-center flex-justify-center">
      <div>{{team.persons.length}}</div>
    </div>
    <div class="team-name title-elements-spacing">{{team.name}}</div>
    <div class="title-elements-spacing">
      <button md-icon-button (click)="showStatistics()"><i class="material-icons">more_vert</i></button>
    </div>
  </div>

  <!-- statistics -->
  <!--div *ngIf="isStatisticsVisible">
    <team-score *ngIf="!isTeamEmpty()" [team]="team"></team-score>
    <priority-chart *ngIf="!isTeamEmpty()" [team]="team"></priority-chart>
    <!--devices [devices]="getDevices()"></devices>
  </div-->

  <!-- person preview cards -->
  <div [dragula]='"first-bag"' class='drag-container' [dragulaModel]="team.persons">
    <app-person-preview *ngFor="let person of team.persons" [person]="person"
                    (click)="showPersonDetails(person)"></app-person-preview>
  </div>
</div>
