@import '../../../scss/_style-constants.scss';

.team-card {
  width: 300px;
  margin-left: 10px;
  margin-right: 10px;
  background-color: white;
  border: 1px solid #ddd;
  color: #686868;
  background-color: $gray-f5;
  padding: 0px;
}

.title-elements-spacing {
  margin: 10px;
}

.team-person-count {
  background-color: #e1e1e1;
  width: 40px;
  height: 40px;
  font-size: 20px;
  border-radius: 50%;
}

.team-name {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  text-align: center;
  flex-grow: 1;
  flex-basis: 0;
  font-size: 40px;
  font-weight: 300;
}

.drag-container {
  height:100%;
  width: 100%;
  min-height: 30px;
}
