<!-- team containers -->
<div class="dashboard flex-row">
  <div *ngFor="let team of teams" class="hidden-scrollbar-parent">
    <div class="hidden-scrollbar-child flex-column">
      <div class="scroll-spacer flex-no-shrink"></div>
      <app-team class="flex-no-shrink" [team]="team" (personClose)="onPersonDialogClosed()"></app-team>
      <div class="scroll-spacer flex-no-shrink"></div>
    </div>
  </div>
</div>


<!-- person drawer -->
<div class="person-pool flex-column" [ngClass]="getPersonPoolDisplayModeCSSClass(personPoolDisplayMode)">
  <div class="flex-row flex-center person-pool-title-bar">
    <div class="person-pool-label flex-grow">Person Pool</div>

    <div class="btn-group btn-group-sm" ngbRadioGroup name="radioBasic" [(ngModel)]="personPoolDisplayMode">
      <label ngbButtonLabel class="btn-secondary">
        <input ngbButton type="radio" [value]="0"> One
      </label>
      <label ngbButtonLabel class="btn-secondary">
        <input ngbButton type="radio" [value]="1"> Two
      </label>
      <label ngbButtonLabel class="btn-secondary">
        <input ngbButton type="radio" [value]="2"> Three
      </label>
      <label ngbButtonLabel class="btn-secondary">
        <input ngbButton type="radio" [value]="3"> Four
      </label>
    </div>
  </div>

  <!--div [dragula]='"first-bag"' class='flex-row' [dragulaModel]="team.persons">
    <app-person-preview *ngFor="let person of team.persons" [person]="person"
                        (click)="showPersonDetails(person)"></app-person-preview>
  </div-->
</div>
