@import '../../../scss/style-constants';
@import '../../../scss/flex-box';
@import '../../../scss/bootstrap.min';
@import '../../../scss/utility';
@import '../dashboard-common';

.dashboard {
  overflow-x: scroll;
  overflow-y: hidden;
  width: auto;
  height: 100%;
}

// team containers
.hidden-scrollbar-parent {
  height: 100%;
  flex-shrink: 0;
  overflow: hidden;
}

.hidden-scrollbar-child {
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  margin-right: -$max-scrollbar-width;
  padding-right: $max-scrollbar-width;
}

.scroll-spacer {
  height: $scroll-inset;
}

.person-pool {
  position: fixed;
  left: 10px;
  right: 10px;
  bottom: 20px;
  height: calc(50vh - 10px);
  background-color: white;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  transition: height 0.5s;
}

.person-pool-display-mode-closed {
  height: 60px;
}

.person-pool-display-mode-onerow {
  height: 220px;
}

.person-pool-display-mode-tworows {
  height: 360px;
}

.person-pool-display-mode-full {
  height: calc(100vh - 100px);
}

.person-pool-title-bar {
  margin: 10px;
}

.person-pool-label {
  color: #838383;
  font-size: 25px;
  font-weight: 300;
  margin-right: 15px;
}

.distribute-button {
  margin-right: 10px;
  font-size: 14px;
}

app-team {
  margin-top: $scroll-inset;
  margin-bottom: 320px;
}

.distribute-button-row {
  height: 31px;
}

.person-pool-size-icon {
  height: 15px;
}

.person-pool-preview-row {
  overflow-x: auto;
  overflow-y: hidden;
  align-content: flex-start;
}

.empty-orphan-team-hint-box {
  border: 2px dashed #999;
  margin: 5px;
  border-radius: 5px;
  color: #686868;
}

.statistics-container {
  background-color: #f1f1f1;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
}

.statistics-title-label {
  color: dimgray;
  font-size: 20px;
  font-weight: 300;
}

.statistics-sublabel {
  color: dimgray;
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 5px;
  margin-top: 10px;
}

.priority-bar {
  margin: 2px;
  border-radius: 2px;
  width: 0;
  overflow: hidden;
}

.statistics-team-label {
  color: dimgray;
  width: 60px;
  padding: 3px 0;
  overflow: hidden;
}

.statistics-priority-index-label {
  @extend .flex-no-shrink;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  color: white;
  width: 16px;
  height: 16px;
  font-size: 14px;
  font-weight: 900;
  text-align: center;
  margin-left: 2px;
  margin-right: 5px;
}

.statistics-divider {
  background-color: gray;
  width: 1px;
  align-self: stretch;
  margin: 0 10px;
}

.statistics-bar-person-count {
  @extend .flex-no-shrink;
  color: white;
  font-size: 14px;
}

.statistics-legend-placeholder {
  width: 81px;
}

.statistics-legend-label {
  font-size: 10px;
  font-weight: 900;
  color: dimgray;
  text-align: end;
}
