<!-- team containers -->
<div class="dashboard flex-row">
  <div *ngFor="let team of teams" class="hidden-scrollbar-parent">
    <div class="hidden-scrollbar-child flex-column">
      <app-team class="flex-no-shrink" [team]="team"></app-team>
    </div>
  </div>
</div>

<!-- person pool -->
<div class="person-pool flex-column" [ngClass]="getPersonPoolDisplayModeCSSClass(personPoolDisplayMode)">
  <div class="flex-row flex-center person-pool-title-bar flex-no-shrink">
    <div class="person-pool-label">Person Pool</div>
    <div class="team-person-count flex-row flex-center flex-justify-center">
      <div *ngIf="orphanTeam">{{orphanTeam.persons.length}}</div>
    </div>
    <div class="flex-grow"></div>

    <button md-raised-button color="primary" class="distribute-button">
      <div class="flex-row flex-center distribute-button-row">
        <md-icon class="flex-spacing-x-2px">build</md-icon>
        <div>Distribute With Constraints</div>
      </div>
    </button>
    <div class="btn-group btn-group-sm" ngbRadioGroup name="radioBasic" [(ngModel)]="personPoolDisplayMode">
      <label ngbButtonLabel class="btn-secondary">
        <input ngbButton type="radio" [value]="0">
        <img src="/assets/images/person-pool-closed.svg" class="person-pool-size-icon">
      </label>
      <label ngbButtonLabel class="btn-secondary">
        <input ngbButton type="radio" [value]="1">
        <img src="/assets/images/person-pool-one-row.svg" class="person-pool-size-icon">
      </label>
      <label ngbButtonLabel class="btn-secondary">
        <input ngbButton type="radio" [value]="2">
        <img src="/assets/images/person-pool-two-rows.svg" class="person-pool-size-icon">
      </label>
      <label ngbButtonLabel class="btn-secondary">
        <input ngbButton type="radio" [value]="3">
        <img src="/assets/images/person-pool-full.svg" class="person-pool-size-icon">
      </label>
    </div>
  </div>

  <div *ngIf="orphanTeam" [dragula]='"first-bag"' class='flex-column flex-grow person-pool-preview-row flex-wrap'
       [dragulaModel]="orphanTeam.persons">
    <app-person-preview *ngFor="let person of orphanTeam.persons" [person]="person"
                        (click)="showPersonDetails(person)"></app-person-preview>
  </div>
</div>
