@import '../../../scss/style-constants';
@import '../../../scss/utility';
@import '../../../scss/flex-box';

.dialog-box {
  background-color: white;
  border: $standard-border;
  width: $regular-overlay-width;
  //height: 300px;
  margin-top: $scroll-inset;
  margin-bottom: $scroll-inset;
}

.dialog-header {
  height: 30px;
  background-color: #EEE;
  padding: 10px;
  margin-bottom: 10px;
}

.dialog-heading {
  font-size: 25px;
  font-weight: 300;
}

.main {
  overflow-y: scroll;
}

.no-constraints-hint {
  font-style: italic;
}

.add-button {
  background-color: #EEE;
  margin-top: 20px;
  margin-bottom: 20px;
}

.add-constraint-dropdown {
  width: 150px;
  background-color: #EEE;
  border-radius: 5px;
  left: calc(50% - 75px);
  top: calc(100% + 10px);
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  transition: opacity 0.2s;
}

.add-constraint-dropdown-hidden {
  display: none;
  opacity: 0;
}

.add-constraint-dropdown-element {
  height: 40px;
  transition: background-color 0.1s;
}

.add-constraint-dropdown-element:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.add-constraint-dropdown-element:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.add-constraint-dropdown-seperator {
  height: 1px;
  background-color: #AAA;
}

.person-constraint {
  background-color: #EEE;
  border-radius: 20px;
  height: 40px;
  padding-left: 20px;
  margin: 10px 20px;
}

.comparator-container {
  //background-color: #DDD;
  border: 1px solid;
  font-weight: bold;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}

.flex-spacing-x-5px {
  margin: 0 -5px;
}

.flex-spacing-x-5px > * {
  margin: 0 5px;
}

md-select {
  padding: 0;
}

.dialog-footer {
  height: 25px;
  background-color: #EEE;
  padding: 10px;
}
