<div class="flex-column flex-center full-size">
  <div class="dialog-box flex-column" (click)="dropdownVisible = false; console.log(personConstraintsCopy); $event.stopPropagation()">
    <div class="dialog-header flex-row flex-center flex-no-shrink">
      <div class="dialog-heading">Constraints for Person Highlighting</div>
    </div>

    <div *ngIf="personConstraintsCopy.length === 0" class="no-constraints-hint align-self-center">No Constraints Configured</div>

    <div class="flex-row flex-center person-constraint" *ngFor="let personConstraint of personConstraintsCopy">
      <div *ngIf="getIntructorRatingConstraint(personConstraint)" class="flex-row flex-center flex-spacing-x-5px">
        <div>Instructor Rating </div>
        <div class="comparator-container flex-row flex-center flex-justify-center">
          <div>≥</div>
        </div>
        <md-select [(value)]="getIntructorRatingConstraint(personConstraint).minimumRating">
          <md-option [value]="SkillLevel.Low">{{ Skill.getLabelForSkillLevel(SkillLevel.Low) }}</md-option>
          <md-option [value]="SkillLevel.Medium">{{ Skill.getLabelForSkillLevel(SkillLevel.Medium) }}</md-option>
          <md-option [value]="SkillLevel.High">{{ Skill.getLabelForSkillLevel(SkillLevel.High) }}</md-option>
          <md-option [value]="SkillLevel.VeryHigh">{{ Skill.getLabelForSkillLevel(SkillLevel.VeryHigh) }}</md-option>
        </md-select>
      </div>

      <div *ngIf="getExperiencePersonConstraint(personConstraint)" class="flex-row flex-center flex-spacing-x-5px">
        <div>Experience in </div>
        <md-select [(value)]="getExperiencePersonConstraint(personConstraint).skillName">
          <md-option *ngFor="let skillName of skillNames" [value]="skillName">{{ skillName }}</md-option>
        </md-select>
        <div class="comparator-container flex-row flex-center flex-justify-center">
          <div>≥</div>
        </div>
        <md-select [(value)]="getExperiencePersonConstraint(personConstraint).minimumExperience">
          <md-option [value]="SkillLevel.Low">{{ CSVConstants.Skills.SkillLevelAnswers[SkillLevel.Low] }}</md-option>
          <md-option [value]="SkillLevel.Medium">{{ CSVConstants.Skills.SkillLevelAnswers[SkillLevel.Medium] }}</md-option>
          <md-option [value]="SkillLevel.High">{{ CSVConstants.Skills.SkillLevelAnswers[SkillLevel.High] }}</md-option>
          <md-option [value]="SkillLevel.VeryHigh">{{ CSVConstants.Skills.SkillLevelAnswers[SkillLevel.VeryHigh] }}</md-option>
        </md-select>
      </div>

      <div *ngIf="getInterestPersonConstraint(personConstraint)" class="flex-row flex-center flex-spacing-x-5px">
        <div>Interest in </div>
        <md-select [(value)]="getInterestPersonConstraint(personConstraint).skillName">
          <md-option *ngFor="let skillName of skillNames" [value]="skillName">{{ skillName }}</md-option>
        </md-select>
        <div class="comparator-container flex-row flex-center flex-justify-center">
          <div>≥</div>
        </div>
        <md-select [(value)]="getInterestPersonConstraint(personConstraint).minimumInterest">
          <md-option [value]="SkillLevel.Low">{{ CSVConstants.Skills.InterestLevelAnswers[SkillLevel.Low] }}</md-option>
          <md-option [value]="SkillLevel.Medium">{{ CSVConstants.Skills.InterestLevelAnswers[SkillLevel.Medium] }}</md-option>
          <md-option [value]="SkillLevel.High">{{ CSVConstants.Skills.InterestLevelAnswers[SkillLevel.High] }}</md-option>
          <md-option [value]="SkillLevel.VeryHigh">{{ CSVConstants.Skills.InterestLevelAnswers[SkillLevel.VeryHigh] }}</md-option>
        </md-select>
      </div>

      <div *ngIf="getGenderPersonConstraint(personConstraint)" class="flex-row flex-center flex-spacing-x-5px">
        <div>Gender </div>
        <div class="comparator-container flex-row flex-center flex-justify-center">
          <div>=</div>
        </div>
        <md-select [(value)]="getGenderPersonConstraint(personConstraint).gender">
          <md-option [value]="Gender.Female">Female</md-option>
          <md-option [value]="Gender.Male">Male</md-option>
        </md-select>
      </div>

      <div *ngIf="getDevicePossessionPersonConstraint(personConstraint)" class="flex-row flex-center flex-spacing-x-5px">
        <div>In Possession of </div>
        <md-select [(value)]="getDevicePossessionPersonConstraint(personConstraint).device">
          <md-option [value]="Device.Iphone">{{ Device[Device.Iphone] }}</md-option>
          <md-option [value]="Device.Ipad">{{ Device[Device.Ipad] }}</md-option>
          <md-option [value]="Device.Mac">{{ Device[Device.Mac] }}</md-option>
          <md-option [value]="Device.Watch">{{ Device[Device.Watch] }}</md-option>
        </md-select>
      </div>

      <div class="flex-grow"></div>
      <button class="align-self-center" md-icon-button (click)="removeConstraint(personConstraint); $event.stopPropagation()">
        <i class="material-icons">clear</i>
      </button>
    </div>

    <button class="add-button align-self-center" md-icon-button (click)="dropdownVisible = true; $event.stopPropagation()">
      <i class="material-icons">add_circle_outline</i>
      <div [class.add-constraint-dropdown-hidden]="!dropdownVisible" class="position-absolute add-constraint-dropdown flex-column">
        <div class="add-constraint-dropdown-element"
             (click)="addInstructorRatingConstraint(); dropdownVisible = false; $event.stopPropagation()">
          Instructor Rating
        </div>
        <div class="add-constraint-dropdown-seperator"></div>
        <div class="add-constraint-dropdown-element"
             (click)="addExperienceConstraint(); dropdownVisible = false; $event.stopPropagation()">
          Experience
        </div>
        <div class="add-constraint-dropdown-seperator"></div>
        <div class="add-constraint-dropdown-element"
             (click)="addInterestLevelConstraint(); dropdownVisible = false; $event.stopPropagation()">
          Interest Level
        </div>
        <div class="add-constraint-dropdown-seperator"></div>
        <div class="add-constraint-dropdown-element"
             (click)="addGenderConstraint(); dropdownVisible = false; $event.stopPropagation()">
          Gender
        </div>
        <div class="add-constraint-dropdown-seperator"></div>
        <div class="add-constraint-dropdown-element"
             (click)="addDeviceConstraint(); dropdownVisible = false; $event.stopPropagation()">
          Device Possession
        </div>
      </div>
    </button>

    <div class="dialog-footer flex-row flex-center flex-no-shrink">
      <div class="flex-grow flex-column"></div>
      <button md-raised-button color="primary" (click)="save()">
        Save
      </button>
    </div>
  </div>
</div>
