<div class="d-flex justify-content-center align-items-center vh-100">
  <div class="w-50 bg-white d-flex flex-column p-4 rounded-3 gap-4" (click)="$event.stopPropagation()">
    <input
      #fileInput
      type="file"
      class="d-none"
      name="Choose file"
      (click)="$event.stopPropagation()"
      (change)="onFileChanged($event)"
      accept="text/csv" />

    <div class="fs-4 fw-semibold">Import</div>
    <div class="d-flex flex-column gap-3">
      <button type="button" class="btn btn-primary" (click)="importFromCSV()">Choose CSV File</button>
      @if (this.isImportPossible()) {
        <button type="button" class="btn btn-primary" (click)="importFromPrompt()">PROMPT</button>
      }
      <button type="button" class="btn btn-primary" (click)="loadExampleData()">Load Example Data</button>
    </div>
  </div>
</div>
