@import '../../scss/style-constants.scss';
@import '../../scss/flex-box.scss';
@import '../../scss/dragula.scss';
@import '../../scss/utility';


// person highlighting toolbar
.highlight-toolbar {
  background-color: #f1f1f1;
  min-width: 300px;
  height: 26px;
  border-radius: 2px;
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
  color: #606060;
  padding: 5px 10px;
  transition: background-color 0.2s;
  cursor: pointer;
}

.highlight-toolbar:hover {
  background-color: $secondary-color;
}

.highlight-toolbar:active {
  background-color: mix($secondary-color, #000, 80%);
}

.highlight-toolbar-heading {
  font-weight: 500;
  margin-right: 5px;
}

.highlight-toolbar-none-text {
  //@extend .flex-grow;
  font-style: italic;
}

.constraint-container {
  background-color: rgba(0, 0, 0, 0.1); //#d5d5d5;
  height: 25px;
  border-radius: 17.5px;
  font-size: 13px;
  margin: 0 3px;
  padding: 0 10px;
}

.constraint-container * {
  font-weight: 500;
}

.flex-spacing-x-5px {
  margin: 0 -3px;
}

.flex-spacing-x-5px > * {
  margin: 0 3px;
}

.comparator-container {
  //background-color: #DDD;
  border: 1px solid;
  font-size: 11px;
  font-weight: 900;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
}

.remove-button {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  transition: background-color 0.2s, color 0.1s;
  margin-left: 10px;
  margin-right: -5px;
}

.remove-button * {
  font-size: 15px;
}

.remove-button:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.remove-button:active {
  background-color: rgba(0, 0, 0, 0.4);
  color: $secondary-color;
}
