@import '../../../scss/style-constants';
@import '../../../scss/flex-box';

.main-row {
  height: 100%;
}

.person-card-column {
  overflow-y: scroll;
  margin-right: -100px;
  padding-right: 100px;
}

/* person detail card */
.detail-card {
  width: 800px;
  margin-top: $scroll-inset;
  margin-bottom: $scroll-inset;
  background-color: white;
  border-radius: 5px;
  overflow: hidden;
}

@include horizontal-spacing(spacing-x-3, 3px);

.profile-picture {
  flex-shrink: 0;
  border-bottom-right-radius: 23px;
  width: 278px;
  height: 200px;
  object-fit: cover;
}

.name-flex-column {
  flex-grow: 1;
  padding-left: 25px;
  padding-top: 25px;
  padding-right: 25px;
  justify-content: flex-start;
}

#name-flex-row {
  align-items: center;
}

#gender-icon {
  width: 40px;
  height: 40px;
}

#person-name {
  flex-grow: 1;
  flex-shrink: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  /*font-weight: bolder;*/
  color: gray;
  font-size: 30px;
  margin-left: 20px;
  margin-right: 20px;
}

.badge {
  height: 26px;
  border-radius: 13px;
  font-size: 16px;
}

.supervisor-rating-badge {
  border-radius: 4px;
  padding: 3px 10px;
  font-size: 18px;
  color: white;
}

.flag-icon {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  object-fit: cover;
}

.language-level-badge {
  background-color: #EAEAEA;
  margin-right: 10px;
  padding-right: 10px;
}

.language-level-badge:last-child {
  margin-right: 0;
}

.padding-x-main {
  padding: 0 25px;
}

.skill-badge {
  color: white;
  font-weight: lighter;
  font-size: 14px;
  margin: 2px 3px;
}

.skill-badge-main {
  font-size: 20px;
}

.skill-row-container {
  margin: calc(-2px + 3px) -3px;
}

.skill-row-with-label {
  margin: 3px 0;
}

.skill-row-with-label-container {
  margin: -3px 0;
}

.skill-hint {
  white-space: nowrap;
  text-align: justify;
  align-self: center;
  font-style: italic;
  font-size: 14px;
  padding-left: 10px;
}

.person-language-name {
  color: #606060;
  font-size: 16px;
  padding-left: 5px;
}

.heading {
  color: gray;
  font-weight: bold;
  font-size: 12px;
  padding-bottom: 4px;
  margin-top: 15px;
}

.heading.top {
  margin-top: 0;
}

.person-value {
  color: #606060;
  font-size: 18px;
  font-weight: 300;
}

.person-value-container {
  margin-right: 20px;
}

.person-value-container:last-child {
  margin-right: 0;
}

.device-icon {
  height: 30px;
  opacity: 0.6;
}

.quotation-mark {
  font-size: 25px;
  font-weight: bold;
  color: #909090;
  position: relative;
  top: 5px;
}

.quotation-mark-start {
  align-self: flex-start;
}

.quotation-mark-end {
  align-self: flex-end;
}

.quote-text {
  color: #606060;
  font-size: 18px;
  font-weight: 300;
  text-align: center;
  position: relative;
  top: -5px;
}

.quote-author {
  font-weight: 300;
  color: #909090;
  font-size: 18px;
  font-style: italic;
  white-space: pre;
}

.team-badge-container {
  margin: -4px;
}

.team-badge {
  /* width should be the available space minus the margins and equally distributed */
  flex-basis: calc((100% - 6 * 2 * 4px) / 6);
  /* important to allow items in flex box to be smaller than its content */
  overflow: hidden;
  margin: 4px;
  height: 22px;
  border-radius: 11px;
  background-color: #f0f0f0;
  white-space: nowrap;
}

.team-badge-index {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  object-fit: cover;
  color: white;
  background-color: #ababab;
}

.skill-container {
  border-radius: 11px;
  background-color: #efefef;
  color: #656565;
  padding: 3px;
}

.generic-skills-container-box {
  @extend .flex-justify-center;
  margin: -5px;
  margin-top: 5px;
}

.skill-container-generic {
  margin: 5px;
  width: calc((100% - 8px * 6) / 3);
}

.skill-container > * {
  margin: 3px;
}

.skill-name {
  color: #656565;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
}

.skill-level-label {
  @extend .flex-column, .flex-center, .flex-justify-center;
  align-self: stretch;
  padding: 3px;
  border-radius: 5px;
}

.skill-level-label-0 {
  border: 1px solid #4b4b4b;
  background-color: #e5e5e5;
  color: #4b4b4b;
}

.skill-level-label-1 {
  border: 1px solid #9b240b;
  background-color: #ffe1db;
  color: #9b240b;
}

.skill-level-label-2 {
  border: 1px solid #d9870a;
  background-color: #ffeed5;
  color: #d9870a;
}

.skill-level-label-3 {
  border: 1px solid #389438;
  background-color: #f7fef7;
  color: #389438;
}

.skill-level-label-4 {
  border: 1px solid #2388b7;
  background-color: #edf9ff;
  color: #2388b7;
}

.skill-divider {
  height: 1px;
  width: 33%;
  background-color: #a2a2a2;
}

.supervisor-rating-container {
  @extend .flex-column;
  background-color: #dcdcdc;
  padding: 10px;
}

.btn-group {
  height: 30px;
}

.btn-secondary {
  @extend .flex-grow, .flex-row, .flex-center, .flex-justify-center;
  color: gray;
  border: 1px solid gray;
  text-align: center;
  transition: background-color 0.5s;
}

.btn-secondary:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.btn-secondary:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.btn-secondary:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.btn-none.active, .btn-none:hover {
  @extend .skill-level-label-0;
}

.btn-low.active, .btn-low:hover {
  @extend .skill-level-label-1;
}

.btn-medium.active, .btn-medium:hover {
  @extend .skill-level-label-2;
}

.btn-high.active, .btn-high:hover {
  @extend .skill-level-label-3;
}

.btn-very-high.active, .btn-very-high:hover {
  @extend .skill-level-label-4;
}

input {
  display: none;
}

/* team container */
app-team {
  margin-top: $scroll-inset;
  margin-bottom: $scroll-inset;
}

.hidden-scrollbar-parent {
  height: 100%;
  flex-shrink: 0;
  overflow: hidden;
}

.hidden-scrollbar-child {
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  margin-right: -100px; /* $max-scrollbar-width */
  padding-right: 100px;
}
