<div *ngIf="data" class="flex-justify-center flex-row main-row">
  <div class="hidden-scrollbar-parent">
    <div class="flex-column hidden-scrollbar-child">
      <div class="flex-column scrollable-content" (click)="$event.stopPropagation()">

        <!-- person detail card with instructor rating buttons -->
        <div class="main-card flex-column overflow-hidden">
          <!-- person detail card -->
          <app-person-detail-card [person]="data.person"></app-person-detail-card>

          <!-- skill level rating buttons -->
          <div class="supervisor-rating-container flex-column">
            <div class="btn-group btn-group-sm flex-row" ngbRadioGroup name="radioBasic"
                 [(ngModel)]="data.person.supervisorRating">
              <label ngbButtonLabel class="btn-secondary btn-none">
                <input ngbButton type="radio" [value]="SkillLevel.None">
                <div class="key-icon-container">0</div>
                {{ getLabelForSkillLevel(SkillLevel.None) }}
              </label>
              <label ngbButtonLabel class="btn-secondary btn-low">
                <input ngbButton type="radio" [value]="SkillLevel.Low">
                <div class="key-icon-container">1</div>
                {{ getLabelForSkillLevel(SkillLevel.Low) }}
              </label>
              <label ngbButtonLabel class="btn-secondary btn-medium">
                <input ngbButton type="radio" [value]="SkillLevel.Medium">
                <div class="key-icon-container">2</div>
                {{ getLabelForSkillLevel(SkillLevel.Medium) }}
              </label>
              <label ngbButtonLabel class="btn-secondary btn-high">
                <input ngbButton type="radio" [value]="SkillLevel.High">
                <div class="key-icon-container">3</div>
                {{ getLabelForSkillLevel(SkillLevel.High) }}
              </label>
              <label ngbButtonLabel class="btn-secondary btn-very-high">
                <input ngbButton type="radio" [value]="SkillLevel.VeryHigh">
                <div class="key-icon-container">4</div>
                {{ getLabelForSkillLevel(SkillLevel.VeryHigh) }}
              </label>
            </div>
          </div>
        </div>

        <!-- next / previous person buttons -->
        <div class="flex-row flex-no-shrink">
          <button *ngIf="!isInTeam(data.person)"
                  md-raised-button color="primary"
                  (click)="data.onPreviousPersonClicked(); $event.stopPropagation()">
            <div class="flex-row flex-center">
              <div class="key-icon-container">
                <md-icon>keyboard_arrow_left</md-icon>
              </div>
              <div>Previous Person</div>
            </div>
          </button>
          <div class="flex-grow"></div>
          <button *ngIf="!isInTeam(data.person)"
                  md-raised-button color="primary"
                  (click)="data.onNextPersonClicked(); $event.stopPropagation()">
            <div class="flex-row flex-center">
              <div class="key-icon-container">
                <md-icon>keyboard_arrow_right</md-icon>
              </div>
              <div>Next Person</div>
            </div>
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- team container -->
  <div class="hidden-scrollbar-parent team-container">
    <div class="hidden-scrollbar-child flex-column">
      <app-team *ngIf="isInTeam(data.person)"
                [team]="data.person.team"
                (onPersonClicked)="data.onPersonClicked($event)"></app-team>
    </div>
  </div>
</div>


