.dialog-box {
  background-color: white;
  border: $standard-border;
  width: $regular-overlay-width;
  margin-top: 15vh;
}

.dialog-header {
  background-color: #eee;
  padding: 10px 10px 10px 20px;
}

.dialog-heading {
  font-size: 25px;
  font-weight: 300;
}

.dialog-footer {
  background-color: #eee;
  padding: 10px;
}

