.skill-level-label {
  @extend .flex-column, .flex-center, .flex-justify-center;
  align-self: stretch;
  padding: 3px;
  border-radius: 5px;
  text-align: center;
}

.skill-level-label-0 {
  border: 1px solid #4b4b4b;
  background-color: #e5e5e5;
  color: #4b4b4b;
}

.skill-level-label-0 * {
  border-color: #4b4b4b;
}

.skill-level-label-1 {
  border: 1px solid #9b240b;
  background-color: #ffe1db;
  color: #9b240b;
}

.skill-level-label-1 * {
  border-color: #9b240b;
}

.skill-level-label-2 {
  border: 1px solid #d9870a;
  background-color: #ffeed5;
  color: #d9870a;
}

.skill-level-label-2 * {
  border-color: #d9870a;
}

.skill-level-label-3 {
  border: 1px solid #389438;
  background-color: #f7fef7;
  color: #389438;
}

.skill-level-label-3 * {
  border-color: #389438;
}

.skill-level-label-4 {
  border: 1px solid #2388b7;
  background-color: #edf9ff;
  color: #2388b7;
}

.skill-level-label-4 * {
  border-color: #2388b7;
}
