#dashboard {
  overflow-x: auto;
  width: auto;
  height: auto;
  display:flex;
  white-space: nowrap;
}

.element-container {
  height: auto;
  width: auto;
  flex-direction: row;
}

.drag-container {
  display:flex;
  flex-direction: column;
  width:auto;
  height:83vh;
}

.sub-element {

}
