#dashboard {
  overflow-x: auto;
  width: auto;
  height: auto;
  display:flex;
  white-space: nowrap;
  flex-direction: row;
}

team-container {
  display:flex;
  flex-direction: column;
  width:auto;
  height:83vh;
}
