@import '../../../scss/style-constants';
@import '../../../scss/utility';
@import '../../../scss/flex-box';

.dialog-box {
  background-color: white;
  border: $standard-border;
  width: 400px;
  //height: 300px;
  margin-top: $scroll-inset;
  margin-bottom: $scroll-inset;
}

.dialog-header {
  height: 30px;
  background-color: #EEE;
  padding: 10px;
}

.dialog-heading {
  font-size: 25px;
  font-weight: 300;
}

.warning {
  margin: 10px;
  border-radius: 5px;
  background-color: #fff3cd;
  border: 1px solid #ffeeba;
  padding-left: 5px;
}

.warning-element {
  margin: 8px;
  color: #856404;
}

.warning-heading {
  font-weight: bold;
}

.dialog-footer {
  height: 25px;
  background-color: #EEE;
  padding: 10px;
}
