{
  "openapi": "3.0.0",
  "info": {
    "title": "TEASE & PROMPT",
    "version": "1.0.0",
    "description": "Work-in-progress example API to enable the TEASE UI to communicate with a service (PROMPT) that can deliver information on students participating in the iPraktikum at TUM.\n---\nUsing this API you can retrieve information on students and their associated attributes.",
  },
  "servers": [{"url": "https://my.api.com/id/{number}"}],
  "paths": {
    "/v1/students": {
      "post": {
        "tags": ["Students"],
        "summary": "Send iPraktikum students data",
        "description": "Send collected information on all students accepted to this semesters cohort of students participating in the iPraktikum course at TUM, this data will populate the UI and also be used in the algorithmic allocation",
        "responses": {
          "200": {
            "description": "An array of students in JSON format",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                    "items": {
                      "oneOf": [{
                      "$ref": "#/components/schemas/Student"
                    }]
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/teams": {
      "post": {
        "tags": ["Teams"],
        "summary": "Send the names of the iPraktikum teams",
        "description": "Send a list of all teams/projects that students can work on during this semesters iteration of the iPraktikum course at TUM",
        "responses": {
          "200": {
            "description": "An array of team (names) in JSON format",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                    "items": {
                      "oneOf": [{
                      "$ref": "#/components/schemas/Team"
                    }]
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/allocation": {
      "get": {
        "tags": ["Allocation Result"],
        "summary": "Retrieve the result of the matching/allocation",
        "description": "After the allocation is concluded, TEASE can report the results (which team each student was assigned to) without needing to repeat/send back all of the information that was initially sent",
        "responses": {
          "200": {
            "description": "An array of tuples with an identifier for the student and the name of the team that they were allocated to",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                    "items": {
                      "oneOf": [{
                      "$ref": "#/components/schemas/StudentInTeam"
                    }]
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Student": {
        "type": "object",
        "properties": {
          "firstName": {
            "type": "string"
          },
          "lastName": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "tumId": {
            "type": "string"
          },
          "gender": {
            "$ref": "#/components/schemas/Gender"
          },
          "nationality": {
            "type": "string"
          },
          "major": {
            "type": "string"
          },
          "semester": {
            "type": "number"
          },

          "germanLanguageLevel": {
            "type": "string"
          },
          "englishLanguageLevel": {
            "type": "string"
          },

          "iosDev": {
            "type": "string"
          },
          "appStoreLink": {
            "type": "string"
          },
          "iOSDevExplained": {
            "type": "string"
          },

          "introAssessment": {
            "type": "string"
          },
          "introAssessmentTutor": {
            "type": "string"
          },
          "devices": {
            "type": "array",
            "items": {
              "oneOf": [ {
                "$ref": "#/components/schemas/Device"
              }]
            }
          },
          "skills": {
            "type": "array",
            "items": {
              "oneOf": [ {
                "$ref": "#/components/schemas/Skill"
              }]
            }
          },
          "otherSkills": {
            "type": "string"
          },
          "projectPriorities": {
            "type": "array",
            "items": {
              "oneOf": [{
                "$ref": "#/components/schemas/Team"
              }]
            }
          },

          "studentComments": {
            "type": "string"
          },
          "supervisorRating": {
            "$ref": "#/components/schemas/SkillLevel"
          },

          "tutorComments": {
            "type": "string"
          }
        }
      },
      "Project": {
        "type": "string"
      },
      "Device": {
        "type": "string",
        "enum": ["Iphone", "Ipad", "Mac", "Watch", "IphoneAR", "IpadAR"]
      },
      "Skill": {
        "type": "string"
      },
      "SkillLevel": {
        "type": "string",
        "enum": ["None", "Low", "Medium", "High", "VeryHigh"]
      },
      "Gender": {
        "type": "string",
        "enum": ["Female", "Male", "X"]
      },

      "StudentInTeam": {
        "type": "object",
        "properties": {
          "student_id": {
            "type": "string"
          },
          "team": {
            "$ref": "#/components/schemas/Team"
          }
        }
      }
    }
  }
}