
// main colors
$primary-color: #0076bc; /*#e91e63;*/
$secondary-color: #ffc107;
$gray: #e1e1e1;
$gray-f5: #f5f5f5;
$grey-48: #484848;
$grey-4f: #4f4f4f;
$shadow-color: rgba(0,0,0,0.12);

$dialog-background: rgba(0, 0, 0, 0.5);

// skill level colors
$level-expert-color: #60c460;
$level-advanced-color: #5eb7e0;
$level-intermediate-color: #f7b551;
$level-novice-color: #f47f67;

// font
$app-font-family: 'Roboto', sans-serif;

// size constants
$toolbar-height: 80px;
$scroll-inset: 100px;
$max-scrollbar-width: 100px;

$standard-border: 1px solid #ccc;

$regular-overlay-width: 850px;

//tease 2.0 colors
$dark: #343A40;
$primary: #3E8ACC;
$primary-20: #D8E8F5;
$primary-high-contrast: #1169B7;
$white: #FFFFFF;
$white-hover: #F5F5F5;
$black: #282828;


$skill-novice: #E16868;
$skill-intermediate: #EED373;
$skill-advanced: #94DA7C;
$skill-expert: #4E8CB9;

$card-background: #F9F9FA;
$text-prefix: #A1A5A9;
$inactive: #D7DADD;
$tile-background: #E9ECEF;
$tile-priority-background: #FAFAFA;
$warn: #BC3333;
