<div class="d-flex gap-2 px-2 h-100 overflow-x-scroll overflow-y-auto">
  @for (projectData of projectsData; track projectData.project.id) {
    <!-- Project Card -->
    <div class="d-flex flex-column p-2 rounded-3 bg-white project" [id]="imageExport ? projectData.project.id : ''">
      <!-- Header -->
      <div class="ps-2 d-flex justify-content-between">
        <div class="d-flex align-items-center mb-2 gap-1">
          <p class="text-dark fs-5 fw-semibold mb-0">{{ projectData.project.name }}</p>
          @if (projectData.projectConstraints.length) {
            <fa-icon
              role="button"
              [icon]="facInfoIcon"
              class="text-dark mb-0"
              ngbTooltip="Info"
              triggers="hover"
              [openDelay]="400"
              (click)="constraintsVisible = !constraintsVisible"></fa-icon>
          }
        </div>

        <div class="d-flex gap-2">
          <div
            class="bg-card rounded-circle project-circle d-flex justify-content-center align-items-center lh-1 text-dark">
            {{ projectData.students.length }}
          </div>
          <div
            class="rounded-circle project-circle d-flex justify-content-center align-items-center lh-1 fs-5 text-dark"
            [ngClass]="projectData.fulfillsAllConstraints ? 'bg-card' : 'bg-warn'">
            <fa-icon
              [icon]="projectData.fulfillsAllConstraints ? facCheckIcon : facErrorIcon"
              [ngClass]="projectData.fulfillsAllConstraints ? 'text-dark' : 'text-white'"></fa-icon>
          </div>
        </div>
      </div>
      <!-- Constraints -->
      @if (constraintsVisible) {
        <div class="d-flex flex-column gap-05 mb-1">
          @for (constraint of projectData.projectConstraints; track constraint) {
            <div class="row m-0 bg-card rounded-3 default-cursor">
              <div class="col-4 p-0">
                <div
                  class="ms-1 my-1 px-2 text-center text-white rounded-3 fs-xs text-truncate"
                  [ngClass]="
                    constraint.numberOfStudents >= constraint.constraintWrapper.threshold.lowerBound &&
                    constraint.numberOfStudents <= constraint.constraintWrapper.threshold.upperBound
                      ? 'bg-dark'
                      : 'bg-warn'
                  "
                  [ngbTooltip]="
                    constraint.constraintWrapper.constraintFunction.operator +
                    constraint.constraintWrapper.constraintFunction.value
                  "
                  triggers="hover"
                  [openDelay]="300">
                  {{ constraint.constraintWrapper.constraintFunction.property }}
                </div>
              </div>
              <div class="col-8 d-flex constraint-tile">
                <div class="text-center flex-grow-1">{{ constraint.constraintWrapper.threshold.lowerBound }}</div>
                <div class="text-center flex-grow-1">≤</div>
                <div class="text-center flex-grow-1">{{ constraint.numberOfStudents }}</div>
                <div class="text-center flex-grow-1">≤</div>
                <div class="text-center flex-grow-1">{{ constraint.constraintWrapper.threshold.upperBound }}</div>
              </div>
            </div>
          }
        </div>
      }
      <!-- Students -->
      <div
        dragula="STUDENTS"
        class="d-flex flex-column gap-1 project-width overflow-scroll flex-grow-1 pt-1"
        id="{{ projectData.project.id }}">
        @if (!projectData.students.length) {
          <div class="d-flex flex-column flex-grow-1 rounded-2 border-dashed pe-none" style="order: 2">
            <div class="d-flex flex-column justify-content-center align-items-center flex-grow-1">
              <fa-icon [icon]="facWarnIcon" class="text-warn fs-l lh-1"></fa-icon>
              <div class="text-prefix fw-semibold fs-s">No Students Allocated</div>
              <div class="text-prefix fs-s">Drag Student Here</div>
            </div>
          </div>
        } @else {
          @for (student of projectData.students; track student) {
            <app-student-preview-card
              [student]="student"
              [projectId]="projectData.project.id"
              [lockedStudents]="lockedStudents"></app-student-preview-card>
          }
        }
      </div>
    </div>
  }
</div>
