@import '../../../scss/style-constants';
@import '../../../scss/utility';
@import '../../../scss/flex-box';
@import '../dialog-common';


.dialog-box {
  margin-top: auto;
  margin-bottom:auto;
}

.scrollable-content {
  overflow-y: scroll;
  height: 65vh;
  max-height: 556px;
}

.warning {
  margin: 10px;
  border-radius: 5px;
  background-color: #fff3cd;
  border: 1px solid #ffeeba;
  padding: 10px;
}

.warning-element {
  margin: 4px;
  color: #856404;
}

.error {
  border-radius: 5px;
  background-color: #ffe1db;
  border: 1px solid rgb(230, 180, 170);
  padding-left: 5px;
  transition: opacity 0.5s;
  margin-right: 10px;
}

.error-element {
  margin: 8px;
  color: #9b240b;
}

.error-heading {
  font-weight: bold;
}

.error-hidden {
  opacity: 0;
}

.constraint-team-name {
  margin: 5px 12px 3px 12px;
  padding: 2px 18px;
  color: #666;
  border-radius: 10px;
  cursor: pointer;
}

.flex-spacing-5 {
  margin-left: 5px;
  margin-right: 5px;
}

.flex-spacing-5:first-child {
  margin-left: 0;
}

.flex-spacing-5:last-child {
  margin-right: 0;
}

.constraint-team-name-bold {
  font-weight: 900;
}

.constraint-team-name-toggleable {
  transition: background-color 0.3s;
}

.constraint-team-name-toggleable:hover {
  background-color: #f5f5f5;
}

.dialog-footer {
  height: 25px;
  background-color: #eee;
  padding: 10px;
}

.active-constraints-badge {
  height: 16px;
  border-radius: 8px;
  background-color: $secondary-color;
  color: white;
  font-weight: 800;
  font-size: 14px;
  padding: 0 5px;
}

.active-icon {
  color: $secondary-color;
}
.danger-icon {
  color: #dc4747;
}


