<div class="d-flex justify-content-center align-items-center vh-100">
  <div class="w-75">
    <div class="bg-white p-4" (click)="$event.stopPropagation()">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Project Names</th>
            <th scope="col">Constraint Function</th>
            <th scope="col">Threshold</th>
            <th scope="col">#Students</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let constraint of constraints">
            <td>{{ constraint.projectIds.join(', ') }}</td>
            <td>
              {{ constraint.constraintFunctionProperty }}, {{ constraint.constraintFunctionOperator }}, {{
              constraint.constraintFunctionValue }}
            </td>
            <td>{{ constraint.constraintOperator }}, {{ constraint.constraintThreshold }}</td>
            <td>{{ constraint.students.length }}</td>
          </tr>
        </tbody>
      </table>

      <button (click)="distributeTeams()">Add Constraint</button>
    </div>
  </div>
</div>
