<div class="flex-column flex-center full-size">
  <div class="dialog-box flex-column" (click)="$event.stopPropagation()">
    <div class="dialog-header flex-row flex-center flex-no-shrink">
      <div class="dialog-heading">Distribute With Constraints</div>
    </div>

    <!-- scrollable content -->
    <div class="scrollable-content">
      <div class="flex-column flex-no-shrink">
        <div *ngIf="data.displayWarning" class="warning flex-column">
          <div class="warning-heading warning-element">Warning!</div>
          <div class="warning-element">
            Applying constraints overwrites the current team allocation. Pin students to keep them in their teams.
          </div>
        </div>

        <div class="constraint-team-name constraint-team-name-bold">Global Constraints</div>
        <div *ngFor="let constraint of getGlobalConstraints()">
          <app-constraint [constraint]="constraint"></app-constraint>
        </div>

        <div *ngFor="let team of teamService.teams" class="flex-column">
          <div
            class="constraint-team-name constraint-team-name-toggleable flex-row flex-center flex-no-shrink"
            (click)="toggleTeamConstraintVisibility(team)">
            <div class="flex-spacing-5">Constraints for Team</div>
            <div class="constraint-team-name-bold">{{ team.name }}</div>
            <mat-icon *ngIf="!areConstraintsForTeamVisible(team)">arrow_drop_down</mat-icon>
            <mat-icon *ngIf="areConstraintsForTeamVisible(team)">arrow_drop_up</mat-icon>
            <div
              *ngIf="hasActiveConstraints(team)"
              class="active-constraints-badge flex-row flex-center flex-justify-center flex-spacing-5">
              <div>active</div>
            </div>
          </div>
          <app-constraint
            *ngFor="let constraint of areConstraintsForTeamVisible(team) ? getConstraintsForTeam(team) : []"
            [constraint]="constraint"></app-constraint>
        </div>
      </div>
    </div>

    <div class="dialog-footer flex-row-reverse flex-center flex-no-shrink">
      <button
        mat-raised-button
        color="primary"
        [disabled]="hasWarnings()"
        (click)="applyConstraints(); $event.stopPropagation()">
        Distribute Students
      </button>
      <div class="error flex-grow flex-row" [class.error-hidden]="!noFeasibleSolutionHintShown">
        <div class="error-heading error-element">Error!</div>
        <div class="error-element">No feasible solution was found.</div>
      </div>
    </div>
  </div>
</div>
