<div class="d-flex justify-content-center align-items-center vh-100">
  <div class="w-50 bg-white d-flex flex-column p-4 rounded-3 gap-4" (click)="$event.stopPropagation()">
    <!-- heading -->
    <div class="fs-4 fw-semibold">Export</div>

    <!-- dialog body -->
    <div class="d-flex flex-column gap-3">
      <div class="d-flex flex-column gap-2 align-items-start">
        <div class="fs-5 fw-semibold">Team Allocation Data</div>
        <div class="">
          This exports the current team allocation as CSV file that you can use to backup and share the current project.
          Additionally, a text file containing a history of constraint applications is provided.
        </div>
        <button type="button" class="btn btn-primary" color="primary" (click)="exportCSV()">Download Archive</button>
      </div>

      <div class="seperator"></div>

      <div class="d-flex flex-column gap-2 align-items-start">
        <div class="fs-5 fw-semibold">Team and Person Card Images</div>
        <div class="">
          Images of all team representations and person cards can be exported to visualize the team allocation and
          person information.
        </div>

        <div class="d-flex gap-2 align-items-start">
          <button
            type="button"
            class="btn btn-primary"
            color="primary"
            [disabled]="imageExportRunning"
            (click)="exportScreenshots(false)">
            Download Team Overview + Members
          </button>
          <button
            type="button"
            class="btn btn-primary"
            [disabled]="imageExportRunning"
            (click)="exportScreenshots(true)">
            Download Team Overview
          </button>
        </div>
      </div>

      <div class="seperator"></div>

      <div class="d-flex flex-column gap-2 align-items-start">
        <div class="fs-5 fw-semibold">Prompt Export</div>
        <div class="">This exports the current team allocation to prompt</div>
        <button type="button" class="btn btn-primary" (click)="exportPrompt()">Export to Prompt</button>
      </div>
    </div>

    <div class="capturing-parent">
      <!-- <app-person-detail-card></app-person-detail-card> -->
    </div>

    <div class="capturing-parent">
      <!-- <app-team></app-team> -->
    </div>
  </div>
</div>
