<div class="d-flex justify-content-center align-items-center vh-100">
  <div class="w-50 bg-white d-flex flex-column p-4 rounded-3 gap-4" (click)="$event.stopPropagation()">
    <!-- heading -->
    <h4 class="fw-semibold">Export</h4>

    <!-- dialog body -->
    <div class="d-flex flex-column gap-5">
      <div class="d-flex flex-column gap-2 align-items-start">
        <h5 class="fw-semibold">Team Allocation Data</h5>
        This exports the current team allocation as CSV file that you can use to backup and share the current project.
        Additionally, a text file containing a history of constraint applications is provided.
        <button type="button" class="btn btn-primary" (click)="exportCSV()">Download Archive</button>
      </div>

      <div class="d-flex flex-column gap-2 align-items-start">
        <h5 class="fw-semibold">Team and Person Card Images</h5>
        Images of all team representations and person cards can be exported to visualize the team allocation and person
        information.

        <div class="d-flex gap-2 align-items-start">
          <button
            type="button"
            class="btn btn-primary"
            [disabled]="imageExportRunning"
            (click)="exportScreenshots(false)">
            Download Team Overview + Members
          </button>
          <button
            type="button"
            class="btn btn-primary"
            [disabled]="imageExportRunning"
            (click)="exportScreenshots(true)">
            Download Team Overview
          </button>
        </div>
      </div>

      <div class="d-flex flex-column gap-2 align-items-start">
        <h5 class="fw-semibold">Prompt Export</h5>
        This exports the current team allocation to prompt
        <button type="button" class="btn btn-primary" (click)="exportPrompt()">Export to Prompt</button>
      </div>
    </div>

    <div class="capturing-parent">
      <!-- <app-person-detail-card></app-person-detail-card> -->
    </div>

    <div class="capturing-parent">
      <!-- <app-team></app-team> -->
    </div>
  </div>
</div>
