

$primary-color: #e91e63;
$secondary-color: #ffc107;
$light-gray: #e1e1e1;
$gray: #e1e1e1;
$dark-grey: #484848;

$level-expert-color: #60c460;
$level-advanced-color: #5eb7e0;
$level-intermediate-color: #f7b551;
$level-novice-color: #f47f67;


