body {
  margin: 0;
}

.gu-mirror {
  /*
  transform: rotate(4deg);
  -moz-transform: rotate(4deg);
  -webkit-transform: rotate(4deg);*/
  /*box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);*/
}

.pointer-events-auto {
  pointer-events: auto;
}

.pointer-events-none {
  pointer-events: none;
}

.position-fixed-fill {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
