@import '../../node_modules/@angular/material/core/theming/all-theme';
@include mat-core();

// Define a theme.
$primary: mat-palette($mat-blue-grey);
$accent:  mat-palette($mat-blue-grey, A200, A100, A400);

$theme: mat-light-theme($primary, $accent);

// Include all theme styles for the components.
@include angular-material-theme($theme);

