name: Build and Push

on:
  pull_request:
    branches: [main]

  workflow_call:
    inputs:
      image_tag:
        description: "Optional image tag override"
        required: false
        type: string

jobs:
  build-and-push:
    strategy:
      matrix:
        include:
          - image-name: ls1intum/tease
            docker-file: ./client/Dockerfile
            docker-context: ./client
          - image-name: ls1intum/tease-server
            docker-file: ./server/Dockerfile
            docker-context: ./server
    uses: ./.github/workflows/build-and-push-docker-image-local.yml
    secrets: inherit
    with:
      image-name: ${{ matrix.image-name }}
      docker-file: ${{ matrix.docker-file }}
      docker-context: ${{ matrix.docker-context }}
      tags: ${{ inputs.image_tag }}
