name: Build and Deploy to Dev

on:
  push:
    branches: [main]

  pull_request:
    branches: [main]

jobs:
  build-push:
    uses: ./.github/workflows/build-and-push.yml
    secrets: inherit
  deploy-dev-container:
    needs: build-push
    uses: ./.github/workflows/deploy-docker.yml
    secrets: inherit
    with:
      environment: PROMPT-Dev
      tease_image_tag: ${{ needs.build-push.outputs.tease_image_tag }}
