name: Build and Deploy to Prod

on:
  release:
    types: [published]

jobs:
  build-container:
    uses: ./.github/workflows/build-and-push.yml
    secrets: inherit
    with:
      image_tag: ${{ github.event.release.tag_name }}
  deploy-container:
    needs: build-container
    uses: ./.github/workflows/deploy-docker.yml
    secrets: inherit
    with:
      environment: "PROMPT-Prod"
      tease_image_tag: ${{ github.event.release.tag_name }}
