@import '../../../scss/style-constants';
@import '../../../scss/utility';
@import '../../../scss/flex-box';
@import '../dialog-common';

@include flex-spacing(flex-spacing-5, 5px);

.hidden {
  display: none;
}

.seperator {
  background-color: #aaa;
  height: 1px;
  margin: 0 20px;
}

.alternative-icon {
  font-size: 50px;
  width: 50px;
  height: 50px;
  margin-right: 20px;
  overflow: visible;
}

.alternative-box {
  margin: 20px;
  color: #333;
}

.box-heading {
  font-weight: bold;
}

md-icon {
  margin-right: 5px;
}

.capturing-parent {
  position: fixed;
  //display: none;
  left: 100%;
}

md-progress-bar {
  height: 10px;
  align-self: stretch;
  transition: filter 0.2s;
}

.progress-bar-disabled {
  filter: grayscale(100%);
}
