<form>
  <div class="d-flex flex-wrap gap-2">
    @for (project of projectData; track project) {
      <div class="form-check" (click)="toggleProjectsSelection(project.id)">
        <input
          class="form-check-input"
          type="checkbox"
          [id]="project.id"
          [value]="project.id"
          [checked]="selectedProjectIds.includes(project.id)" />
        <label class="form-check-label no-select" [for]="project.id">
          {{ project.name }}
        </label>
      </div>
    }
  </div>
  <div class="form-check pt-2">
    <input
      class="form-check-input"
      type="checkbox"
      id="all-projects"
      (change)="toggleAllProjectsSelection()"
      [checked]="selectedProjectIds.length == projectData.length" />
    <label class="form-check-label fst-italic fw-medium no-select" for="all-projects"> All Projects </label>
  </div>
</form>
